.header {
  display: flex;
  .nombre {
    flex-grow: 1;
  }
}

.right,
.left {
  width: 100%;
  display: flex;
  align-items: center;
}

.left {
  justify-content: center;
  align-items: center;
}

.right {
  justify-content: end;
}
:host ::ng-deep {
  .weekly-calendar {
    max-height: 80vh;
    overflow: auto;
    display: block;
  }
  .cal-day-columns {
    .cal-day-column {
      min-width: 300px;
    }
  }
  .cal-day-headers {
    .cal-header {
      min-width: 300px;
      background: rgba(211, 211, 211, 0.374);
    }
  }

  app-vista-semanal {
    .calendar-container {
      position: relative;
      height: 100vh;
      overflow: hidden;
    }

    .cal-day-headers {
      position: sticky;
      top: 0;
      z-index: 10;
      background-color: white;
    }

    .calendar-content {
      overflow-y: auto;
      height: calc(100vh - 40px);
    }
  }
  p-speeddial {
    position: fixed;
    bottom: 270px;
    right: 65px;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 1000;
    button {
      width: 3rem;
      height: 3rem;
    }
  }
  .rejilla {
    max-height: calc(100% - 10rem);
    overflow: auto;
    .p-datatable {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}

.calendar-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.por-defecto {
  display: flex;
  text-wrap: nowrap;
  white-space: nowrap;
  align-items: center;
}

.identificador {
  text-wrap: nowrap;
  white-space: nowrap;
}

.custom-cell {
  padding: 5px;
  text-align: center;
  border: 1px solid #e0e0e0;
}

.date-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.progress-container {
  margin-top: 5px;
}

.progress-bar-background {
  background-color: #e0e0e0; /* Fondo gris */
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
  width: 100%;
}

.progress-bar {
  height: 100%;
  transition: width 0.3s ease;
}

.custom-cell {
  padding: 5px;
  text-align: center;
  border: 1px solid #e0e0e0;
  height: 120px;
}

.date-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.progress-container {
  margin-top: 5px;
}

.progress-bar-background {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
  width: 100%;
}

.progress-bar {
  height: 100%;
  transition: width 0.3s ease;
}

.event-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
  margin-top: 5px;
}

.event-block {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
