<p-overlayPanel #op>
  <div class="flex flex-column gap-3">
    <p-listbox
      [options]="keysEnum"
      optionLabel="label"
      [className]="'comunidad-picker-listbox'"
      [listStyle]="{ 'max-height': '250px' }"
      [style]="{ width: '15rem' }"
      [multiple]="true"
      [listStyle]="{ 'max-height': '220px' }"
      (onChange)="parseOutput($event.value)"
    >
      <ng-template let-community pTemplate="item">
        <div class="flex align-items-center gap-2">
          <img
            src="{{ map[community.code].image }}"
            alt=""
            srcset=""
            class="img-flag"
          />
          <div>{{ community.label }}</div>
        </div>
      </ng-template>
    </p-listbox>
  </div>
</p-overlayPanel>

<div class="contenedor-comunidades" [class.preseleccionada]="preseleccionada">
  <div class="list flex align-items-center gap-1">
    @if (comunidades.length==0) {
    <span>Relevancia: </span>
    }
    <img
      src="{{ map[comunidad].image }}"
      class="img-flag"
      [class.flag-preseleccionada]="preseleccionada"
      *ngFor="let comunidad of comunidades"
    />
  </div>

  <p-button
    [link]="true"
    *ngIf="allowAdd"
    (onClick)="op.toggle($event)"
    icon="pi pi-plus-circle"
  />
</div>
