<ng-template #contentNavegador>
  <div class="list-blocks">
    <p-card
      pRipple
      #activeBlock
      [ngClass]="{
        'active-block': indicePregunta == i,
        'correct-block':
          !isModoExamen() &&
          preguntaRespondida(i)?.estado == 'RESPONDIDA' &&
          !!preguntaRespondida(i)?.esCorrecta,
        'incorrect-block':
          !isModoExamen() &&
          preguntaRespondida(i)?.estado == 'RESPONDIDA' &&
          !preguntaRespondida(i)?.esCorrecta,
        respondida:
          !!isModoExamen() &&
          !!preguntaRespondida(i) &&
          preguntaRespondida(i)?.estado == 'RESPONDIDA',
        omitida:
          !!preguntaRespondida(i) && preguntaRespondida(i)?.estado == 'OMITIDA'
      }"
      class="pointer p-3"
      *ngFor="let pregunta of lastLoadedTest?.preguntas ?? []; let i = index"
      (click)="indicePregunta = i; displayNavegador = false"
    >
      <div class="content flex align-items-center justify-content-center">
        @if ( !!preguntaRespondida( i) && preguntaRespondida(i)?.seguridad !=
        'CIEN_POR_CIENTO') {
        {{ obtainSecurityEmojiBasedOnEnum(preguntaRespondida(i)?.seguridad) }}
        }@else {
        {{ i + 1 }}
        }
      </div>
    </p-card>
  </div>
</ng-template>

<p-dialog
  [(visible)]="displayNavegador"
  header="Navegador de preguntas"
  [breakpoints]="{ '1199px': '85vw', '575px': '90vw' }"
  [style]="{ width: '75vw', }"
  [closable]="true"
  *ngIf="viewportService.screenWidth == 'xs'"
>
  <div class="flex flex-column gap-3 py-3">
    Haz click en cualquiera de las preguntas listadas a continuación para
    navegar a ellas.
    <ng-container *ngTemplateOutlet="contentNavegador"></ng-container>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="displayFeedbackDialog"
  modal="modal"
  header="Feedback"
  [breakpoints]="{ '1199px': '85vw', '575px': '90vw' }"
  [style]="{ width: '75vw', }"
  [closable]="false"
>
  <div class="flex flex-column gap-3 py-3">
    <h4 class="m-0">Nos gustaría conocer tu opinión</h4>
    <p class="m-0">¿Cómo percibiste la dificultad de esta pregunta?</p>
    <app-dificultad-dropdown
      [formControlDificultad]="dificultadPercibida"
    ></app-dificultad-dropdown>

    <textarea
      pInputTextarea
      placeholder="Cualquier comentario que quieras agregar"
      [formControl]="feedback"
      rows="5"
      cols="30"
    ></textarea>
  </div>
  <p-footer>
    <button
      type="button"
      pButton
      label="Enviar"
      [disabled]="feedback.invalid || dificultadPercibida.invalid"
      (click)="submitFeedback()"
      icon="pi pi-check"
    ></button>
  </p-footer>
</p-dialog>

<app-reportar-fallo-dialog
  [(visible)]="displayFalloDialog"
  (sendReport)="submitReporteFallo($event)"
  (onHide)="displayFalloDialog = false"
></app-reportar-fallo-dialog>

<ng-template #seguridadPicker let-control="control">
  <div class="flex flex-row gap-2 mt-2">
    <div
      pRipple
      class="pointer p-3"
      (click)="control.patchValue(SeguridadAlResponder.CIEN_POR_CIENTO)"
      [ngClass]="{
        'selected-difficulty':
          control.value == SeguridadAlResponder.CIEN_POR_CIENTO,
        'lower-opacity': control.value != SeguridadAlResponder.CIEN_POR_CIENTO
      }"
    >
      <div class="seguridad-box">
        ⭐
        <span class="hidden md:block">No dudo</span>
      </div>
    </div>

    <div
      pRipple
      class="pointer p-3"
      (click)="
        control.patchValue(SeguridadAlResponder.SETENTA_Y_CINCO_POR_CIENTO)
      "
      [ngClass]="{
        'selected-difficulty':
          control.value == SeguridadAlResponder.SETENTA_Y_CINCO_POR_CIENTO,
        'lower-opacity':
          control.value != SeguridadAlResponder.SETENTA_Y_CINCO_POR_CIENTO
      }"
    >
      <div class="seguridad-box">
        👍
        <span class="hidden md:block">Dudo entre 2</span>
      </div>
    </div>

    <div
      pRipple
      class="pointer p-3"
      (click)="control.patchValue(SeguridadAlResponder.CINCUENTA_POR_CIENTO)"
      [ngClass]="{
        'selected-difficulty':
          control.value == SeguridadAlResponder.CINCUENTA_POR_CIENTO,
        'lower-opacity':
          control.value != SeguridadAlResponder.CINCUENTA_POR_CIENTO
      }"
    >
      <div class="seguridad-box">
        👎
        <span class="hidden md:block">Dudo entre 3</span>
      </div>
    </div>

    <div
      pRipple
      class="pointer p-3"
      (click)="control.patchValue(SeguridadAlResponder.CERO_POR_CIENTO)"
      [ngClass]="{
        'selected-difficulty':
          control.value == SeguridadAlResponder.CERO_POR_CIENTO,
        'lower-opacity': control.value != SeguridadAlResponder.CERO_POR_CIENTO
      }"
    >
      <div class="seguridad-box">
        🛑
        <span class="hidden md:block">Dudo entre todas</span>
      </div>
    </div>
  </div>
</ng-template>

<div class="grid">
  <ng-container *ngIf="lastLoadedTest as testCargado; else testNoCargado">
    @if(testCargado.preguntas[indicePregunta]){

    <p-card
      class="col-12"
      *ngIf="testCargado.preguntas[indicePregunta] as pregunta"
    >
      <div class="grid">
        <div class="col-12 header justify-content-between flex">
          <div class="identificador">
            Identificador:
            {{ pregunta.identificador }}
          </div>
          <div class="index-pregunta">
            Pregunta
            {{ indicePregunta + 1 }}/{{ testCargado.preguntas.length }}
          </div>
        </div>
        <div class="col-12">
          <p-panel>
            <ng-template pTemplate="header">
              <div
                class="flex justify-content-between w-full font-bold align-items-center"
              >
                <span>{{
                  pregunta.tema.numero + " - " + pregunta.tema.descripcion
                }}</span>
                <span *ngIf="!!testCargado.duration">{{
                  testCargado.endsAt | countdown
                }}</span>
                <div class="actions">
                  <p-button
                    label="{{
                      viewportService.screenWidth == 'xs' ? '' : 'Navegador'
                    }}"
                    [link]="true"
                    icon="pi pi-compass"
                    *ngIf="viewportService.screenWidth == 'xs'"
                    (click)="displayNavegadorFn()"
                  />
                  <p-button
                    label="{{
                      viewportService.screenWidth == 'xs'
                        ? ''
                        : 'Reportar fallo'
                    }}"
                    [link]="true"
                    icon="pi pi-exclamation-triangle"
                    (click)="displayFalloDialog = true"
                  />
                </div>
              </div>
            </ng-template>

            <div class="grid">
              <div
                class="{{
                  viewportService.screenWidth == 'xs' ? 'col-12' : 'col-9'
                }}  "
              >
                <p>
                  {{ pregunta.descripcion }}
                </p>
                <div
                  class="col-12 respuestas-list pointer"
                  pRipple
                  *ngFor="
                    let respuesta of pregunta.respuestas;
                    let indiceRespuesta = index
                  "
                  [ngClass]="{
                    'respuesta-correcta': respuestaCorrecta(
                      pregunta,
                      indiceRespuesta
                    ),
                    'respuesta-incorrecta': respuestaIncorrecta(
                      pregunta,
                      indiceRespuesta
                    ),
                    'respuesta-seleccionada':
                      this.indiceSeleccionado.getValue() == indiceRespuesta ||
                      (preguntaRespondida()?.respuestaDada == indiceRespuesta &&
                        isModoExamen())
                  }"
                  (click)="
                    answeredCurrentQuestion()
                      ? false
                      : indiceSeleccionado.next(indiceRespuesta)
                  "
                >
                  <p-inputGroup>
                    <p-inputGroupAddon
                      >{{ getLetter(indiceRespuesta) }})
                    </p-inputGroupAddon>
                    <div class="flex w-full align-items-center">
                      <span>{{ respuesta }}</span>
                    </div>
                  </p-inputGroup>
                </div>
              </div>
              <div class="col-3" *ngIf="viewportService.screenWidth != 'xs'">
                <div class="lateral-navegador">
                  <ng-container
                    *ngTemplateOutlet="contentNavegador"
                  ></ng-container>
                </div>
              </div>
            </div>

            <div
              class="grid w-full footer flex justify-content-between align-items-center mt-2"
              *ngIf="answeredCurrentQuestion()"
            >
              <div
                class="solution col-12 align-items-center flex flex-column"
                *ngIf="!isModoExamen()"
              >
                @if (showSolution()) {
                <strong>Solución:</strong>
                <p class="m-0">
                  {{
                    pregunta.solucion && pregunta.solucion.length > 0
                      ? pregunta.solucion
                      : "No hay una solución definida."
                  }}
                </p>
                } @else {
                <strong class="respuesta-correcta">¡Respuesta correcta!</strong>
                }
              </div>

              <div class="next-button col-12 w-full">
                <button
                  pButton
                  class="p-button p-button-raised w-full"
                  (click)="siguiente()"
                >
                  <span class="w-full">Continuar</span>
                </button>
              </div>
            </div>
          </p-panel>
          <div
            class="col-12 bottom-bar-no-content"
            *ngIf="!answeredCurrentQuestion()"
          >
            <p-panel>
              <ng-template pTemplate="header">
                <div class="seguridad w-full">
                  <div
                    class="flex justify-content-between align-items-center w-full"
                  >
                    <span>Confianza al responder</span>
                    <div class="actions">
                      <p-button
                        label="{{
                          viewportService.screenWidth == 'xs' ? '' : 'Atrás'
                        }}"
                        [link]="true"
                        icon="pi pi-angle-double-left"
                        (click)="processAnswer(undefined, 'before')"
                        [disabled]="indicePregunta == 0"
                      />
                      <p-button
                        label="{{
                          viewportService.screenWidth == 'xs' ? '' : 'Omitir'
                        }}"
                        [link]="true"
                        icon="pi pi-forward"
                        (click)="processAnswer(undefined, 'omitir')"
                      />
                      <p-button
                        label="{{
                          viewportService.screenWidth == 'xs' ? '' : 'Adelante'
                        }}"
                        [link]="true"
                        icon="pi pi-angle-double-right"
                        (click)="processAnswer(undefined, 'next')"
                        [disabled]="
                          indicePregunta == testCargado.preguntas.length - 1
                        "
                      />

                      <p-button
                        label="{{
                          viewportService.screenWidth == 'xs' ? '' : 'Finalizar'
                        }}"
                        [link]="true"
                        [disabled]="lastLoadedTest.status == 'FINALIZADO'"
                        icon="pi pi-flag"
                        (click)="finalizarTest()"
                      />
                    </div>
                  </div>

                  <ng-container
                    *ngTemplateOutlet="
                      seguridadPicker;
                      context: {
                        control: seguroDeLaPregunta
                      }
                    "
                  ></ng-container>
                </div>
              </ng-template>
            </p-panel>
          </div>
        </div>
      </div>
    </p-card>

    }@else {
    <p-card class="col-12">
      <div class="info">
        <div class="flex gap-2 info-card">
          <div class="icon">
            <i class="pi pi-info-circle"></i>
          </div>
          <div class="content">
            <div class="body">
              ¡La pregunta que intentas visualizar no existe!
            </div>
          </div>
        </div>
        <br />
      </div>
    </p-card>
    }
  </ng-container>
  <ng-template #testNoCargado>
    <div class="col-12">
      <p-card>
        <div class="info">
          <div class="flex gap-2 info-card">
            <div class="icon">
              <i class="pi pi-info-circle"></i>
            </div>
            <div class="content">
              <div class="body">
                El test no existe o no se ha podido cargar. Prueba con otro.
              </div>
              <a
                [routerLink]="['/app/test/alumno/realizar-test']"
                class="link-text flex align-items-center"
                style="text-decoration: none"
              >
                <span>Prueba con otro</span> <i class="pi pi-angle-right"></i>
              </a>
            </div>
          </div>
          <br />
        </div>
      </p-card>
    </div>
  </ng-template>
</div>
