@import "../../../../theme-firemd/variables";

.lower-opacity {
  opacity: 0.5;
  transition: 0.5s;
}

.selected-difficulty {
  border: 1px solid $primaryColor;
  border-radius: 5px;
}
:host ::ng-deep {
  .list-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    > p-card {
      width: 100px;
      height: 100px;
      display: flex;
      flex-shrink: 0;
      div {
        width: 100%;
        height: 100%;
      }
    }
  }
  .sin-responder {
    .p-card-body {
      background-color: $yellow;
      color: white;
    }
  }
}
