<p-confirmDialog></p-confirmDialog>

<p-dialog
  header="Subir nuevo documento"
  [modal]="true"
  [(visible)]="mostrarSubirFichero"
  [breakpoints]="{ '1199px': '85vw', '575px': '90vw' }"
  [style]="{ width: '75vw', height: '100%' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-fileUpload
    name="demo[]"
    url="https://www.primefaces.org/cdn/api/upload.php"
    [multiple]="false"
    accept=".pdf,.doc,.docx"
    maxFileSize="1000000000"
    (onSelect)="onSelect($event)"
    chooseLabel="Seleccionar archivo"
    cancelStyleClass="hidden"
    [uploadStyleClass]="'hidden'"
  >
    <ng-template pTemplate="content">
      <div [formGroup]="uploadingFileFormGroup" class="flex flex-column gap-3">
        <p-floatLabel class="py-2">
          <input
            type="text"
            pInputText
            class="w-full"
            formControlName="identificador"
          />
          <label for="identificador">Identificador</label>
        </p-floatLabel>
        <p-floatLabel>
          <textarea
            id="descripcion"
            pInputTextarea
            style="width: 100%"
            formControlName="descripcion"
          ></textarea>
          <label for="descripcion">Descripcion</label>
        </p-floatLabel>
        <div>
          <label class="block mb-2">Tema</label>
          <app-tema-select
            [formControl]="uploadingFileFormGroup.controls['temaIds']"
          ></app-tema-select>
        </div>
        <div class="flex justify-content-end">
          <app-async-button
            label="{{
              viewportService.screenWidth == 'xs'
                ? undefined
                : 'Subir Documento'
            }}"
            icon="pi pi-upload"
            [action]="subirDocumento.bind(this)"
            [disabled]="
              uploadedFiles.length == 0 || uploadingFileFormGroup.invalid
            "
          ></app-async-button>
        </div>
      </div>
    </ng-template>
  </p-fileUpload>
</p-dialog>

<p-dialog
  header="Editar documento"
  [modal]="true"
  [(visible)]="mostrarEditarDocumento"
  [breakpoints]="{ '1199px': '85vw', '575px': '90vw' }"
  [style]="{ width: '75vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div [formGroup]="editarDocumentoForm" class="flex flex-column gap-3">
    <p-floatLabel class="py-2">
      <input
        type="text"
        pInputText
        class="w-full"
        formControlName="identificador"
      />
      <label for="identificador">Identificador</label>
    </p-floatLabel>
    <p-floatLabel>
      <textarea
        id="descripcion"
        pInputTextarea
        style="width: 100%"
        formControlName="descripcion"
      ></textarea>
      <label for="descripcion">Descripcion</label>
    </p-floatLabel>
    <div>
      <label class="block mb-2">Tema</label>
      <app-tema-select
        [formControl]="editarDocumentoForm.controls['temaIds']"
      ></app-tema-select>
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button
        label="Cancelar"
        styleClass="p-button-outlined"
        (click)="mostrarEditarDocumento = false; documentoEditando = null"
      ></p-button>
      <p-button
        label="Guardar"
        icon="pi pi-save"
        (click)="guardarCambiosDocumento()"
      ></p-button>
    </div>
  </div>
</p-dialog>

<app-generic-list
  [fetchItems$]="fetchItems$"
  [itemTemplate]="documentItemTemplate"
  [filters]="filters"
  (filtersChanged)="onFiltersChanged($event)"
>
  <div left-actions>
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
      <input
        type="text"
        pInputText
        placeholder="Buscar documentos"
        [value]="pagination().searchTerm"
        (input)="valueChanged($event)"
        class="w-full"
      />
    </p-iconField>
  </div>

  <div right-actions>
    <p-button
      *ngIf="expectedRole == 'ADMIN'"
      label="{{
        viewportService.screenWidth == 'xs' ? undefined : 'Subir Documento'
      }}"
      icon="pi pi-upload"
      [link]="true"
      (click)="mostrarSubirFichero = true"
    ></p-button>
  </div>

  <div empty-template>
    <div class="text-center p-4">No hay documentos disponibles</div>
  </div>
</app-generic-list>

<!-- Template para el item de documento -->
<ng-template #documentItemTemplate let-document>
  <div
    class="flex flex-row align-items-between"
    (click)="
      descargarDocumento(
        document.id,
        document.fileName || document.identificador
      )
    "
  >
    <div class="flex flex-column py-2 col-9 left-side truncate-flex-content">
      <div class="text-lg font-medium flex gap-2 align-items-center">
        <span
          class="identifier"
          pTooltip="Identificador del documento"
          tooltipPosition="top"
        >
          {{ document.identificador }}
        </span>
        <span
          class="badge"
          [ngClass]="document.esPublico ? 'bg-green-500' : 'bg-orange-500'"
          pTooltip="{{
            document.esPublico ? 'Documento público' : 'Documento privado'
          }}"
          tooltipPosition="top"
        >
          {{ document.esPublico ? "Público" : "Privado" }}
        </span>

        <span
          class="badge bg-primary"
          pTooltip="{{
            document.tema?.numero
              ? 'Tema: ' + document.tema?.numero
              : 'Sin tema'
          }}"
          tooltipPosition="top"
        >
          {{
            document.tema?.numero
              ? "Tema: " + document.tema?.numero
              : "Sin tema"
          }}
        </span>
      </div>
      <span
        class="descripcion"
        pTooltip="{{ document.descripcion }}"
        tooltipPosition="top"
      >
        {{
          document.descripcion && document.descripcion.length > 0
            ? document.descripcion
            : "Sin descripción"
        }}
      </span>
    </div>

    <div class="right-side col-3 flex align-items-center justify-content-end">
      <div class="flex flex-row align-items-center justify-content-end gap-2">
        <span
          class="text-xs hidden md:block unbreakable-text"
          pTooltip="Fecha de creación: {{
            document.createdAt | date : 'dd/MM/yyyy HH:mm'
          }}"
          tooltipPosition="top"
        >
          {{ document.createdAt | date : "short" }}
        </span>
        <p-button
          *ngIf="expectedRole == 'ADMIN'"
          icon="pi pi-pencil"
          styleClass="p-button-warning"
          pTooltip="Editar documento"
          (click)="
            $event.stopPropagation();
            $event.preventDefault();
            abrirEditarDocumento(document)
          "
        ></p-button>
        <p-button
          *ngIf="expectedRole == 'ADMIN'"
          icon="pi pi-trash"
          styleClass="p-button-danger"
          pTooltip="Eliminar documento"
          (click)="
            $event.stopPropagation();
            $event.preventDefault();
            confirmarEliminacion(document)
          "
        ></p-button>
      </div>
    </div>
  </div>
</ng-template>
