.center-flex {
  justify-content: center;
  align-items: center;
  display: flex;
}
p-floatlabel {
  width: 100%;
}

.card-login {
  @extend .center-flex;
}

.wrapper {
  height: 100%;
  @extend .center-flex;
  > .grid {
    @extend .center-flex;
    width: 100%;
  }

  .form-login {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 100%;
    max-width: 20rem;
    button {
      width: 100%;
      text-align: center;
    }
    .imagen {
      img {
        max-width: 158px;
      }
    }
    .link-text {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
  }

  .injected-form-login {
    max-width: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .info-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    i {
      font-size: 20px;
    }
    .content {
      display: flex;
      gap: 10px;
      flex-direction: column;
    }
  }
}
