<div class="wrapper">
  <div class="grid">
    <p-card class="col-12 md:col-6 lg:col-3">
      <div class="card-login py-4">
        <div class="form-login" [formGroup]="formGroup">
          <div class="imagen">
            <img src="black_logo.png" alt="Logo" />
          </div>

          <!-- Info Card -->
          @if (showingInfoCard) {
          <div class="info">
            <div class="info-card">
              <div class="icon">
                <i class="pi pi-info-circle"></i>
              </div>
              <div class="content">
                <div class="title">
                  <h4 class="my-0">Solicitud de registro</h4>
                </div>
                <div class="body">
                  Hemos recibido su solicitud de registro y la revisaremos
                  pronto. El tiempo de revisión es de alrededor de 24 horas.
                </div>
              </div>
            </div>
            <br />
            <a
              [routerLink]="['/auth']"
              routerLinkActive="router-link-active"
              class="link-text"
            >
              <span>Volver al login</span> <i class="pi pi-angle-right"></i>
            </a>
          </div>
          } @else {
          <!-- Campo de email -->
          <p-floatLabel>
            <input
              type="email"
              pInputText
              formControlName="email"
              class="w-full"
            />
            <label for="email">Email</label>
          </p-floatLabel>
          <!-- Error: formato de email inválido -->
          <div
            *ngIf="
              formGroup.get('email')?.hasError('email') &&
              formGroup.get('email')?.touched
            "
            class="error-message"
          >
            <small class="p-error">El formato del email no es válido.</small>
          </div>
          <!-- Error: email requerido -->
          <div
            *ngIf="
              formGroup.get('email')?.hasError('required') &&
              formGroup.get('email')?.touched
            "
            class="error-message"
          >
            <small class="p-error">El email es requerido.</small>
          </div>

          <!-- Campo de contraseña -->
          <p-floatLabel>
            <input
              type="password"
              class="w-full"
              pInputText
              id="contrasenya"
              formControlName="contrasenya"
            />
            <label for="contrasenya">Contraseña</label>
          </p-floatLabel>
          <!-- Error: contraseña requerida -->
          <div
            *ngIf="
              formGroup.get('contrasenya')?.hasError('required') &&
              formGroup.get('contrasenya')?.touched
            "
            class="error-message"
          >
            <small class="p-error">La contraseña es requerida.</small>
          </div>
          <!-- Error: contraseña no segura -->
          <div
            *ngIf="
              formGroup.get('contrasenya')?.hasError('passwordStrength') &&
              formGroup.get('contrasenya')?.touched
            "
            class="error-message"
          >
            <small class="p-error">
              La contraseña debe tener al menos 8 caracteres, una mayúscula, una
              minúscula, un número y un carácter especial.
            </small>
          </div>

          <!-- Campo de repetir contraseña -->
          <p-floatLabel>
            <input
              id="repetirContrasenya"
              type="password"
              class="w-full"
              pInputText
              formControlName="repetirContrasenya"
            />
            <label for="repetirContrasenya">Repetir contraseña</label>
          </p-floatLabel>
          <!-- Error: repetir contraseña requerida -->
          <div
            *ngIf="
              formGroup.get('repetirContrasenya')?.hasError('required') &&
              formGroup.get('repetirContrasenya')?.touched
            "
            class="error-message"
          >
            <small class="p-error">Repetir la contraseña es requerido.</small>
          </div>
          <!-- Error: las contraseñas no coinciden -->
          <div
            *ngIf="
              formGroup.hasError('passwordsDontMatch') &&
              formGroup.get('repetirContrasenya')?.touched
            "
            class="error-message"
          >
            <small class="p-error">Las contraseñas no coinciden.</small>
          </div>

          <!-- Botón de registro -->
          <button
            pButton
            type="submit"
            [disabled]="formGroup.invalid"
            class="p-button dark-button p-button-raised"
            (click)="register()"
          >
            <span class="w-full">Registrarse</span>
          </button>
          }
        </div>
      </div>
    </p-card>
  </div>
</div>
