<p-dialog
  [(visible)]="politicaDialogVisible"
  header="Política de Privacidad"
  closeOnEscape="true"
  modal="true"
  [style]="{ width: '50vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
  [closable]="true"
>
  <ng-template pTemplate="content">
    <div [innerHTML]="politica$ | async"></div>
  </ng-template>
</p-dialog>

<div class="wrapper">
  <div class="grid">
    <p-card class="col-12 md:col-6 lg:col-3">
      <div class="card-login py-4">
        <div class="form-login" [formGroup]="formGroup">
          <div class="imagen">
            <img src="black_logo.png" alt="Logo" />
          </div>

          <!-- Campo de nombre -->
          <p-floatLabel>
            <input
              type="text"
              pInputText
              formControlName="nombre"
              class="w-full"
            />
            <label for="nombre">Nombre</label>
          </p-floatLabel>
          <!-- Error: nombre requerido -->
          <div
            *ngIf="
              formGroup.get('nombre')?.hasError('required') &&
              formGroup.get('nombre')?.touched
            "
            class="error-message"
          >
            <small class="p-error">El nombre es requerido.</small>
          </div>

          <!-- Campo de apellidos -->
          <p-floatLabel>
            <input
              type="text"
              pInputText
              formControlName="apellidos"
              class="w-full"
            />
            <label for="apellidos">Apellidos</label>
          </p-floatLabel>
          <!-- Error: apellidos requerido -->
          <div
            *ngIf="
              formGroup.get('apellidos')?.hasError('required') &&
              formGroup.get('apellidos')?.touched
            "
            class="error-message"
          >
            <small class="p-error">Los apellidos son requeridos.</small>
          </div>

          <!-- Campo de comunidad -->
          <p-dropdown
            class="w-full"
            [style]="{ width: '100%', height: '100%' }"
            [options]="comunidades"
            [formControl]="relevancia"
            optionLabel="name"
            optionValue="code"
            placeholder="Comunidad"
          >
            <ng-template let-item pTemplate="selectedItem">
              <div class="flex align-items-center gap-2 h-full">
                <img src="{{ item.image }}" class="img-flag" />
                <div>{{ item.name }}</div>
              </div>
            </ng-template>
            <ng-template let-item let-index pTemplate="item">
              <div class="flex align-items-center gap-2 h-full">
                <img src="{{ item.image }}" class="img-flag" />
                <div>{{ item.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <!-- Error: relevancia requerida -->
          <div
            *ngIf="
              formGroup.get('relevancia')?.hasError('required') &&
              formGroup.get('relevancia')?.touched
            "
            class="error-message"
          >
            <small class="p-error">Debe seleccionar una comunidad.</small>
          </div>

          <!-- Campo de email -->
          <p-floatLabel>
            <input
              type="email"
              pInputText
              formControlName="email"
              class="w-full"
            />
            <label for="email">Email</label>
          </p-floatLabel>
          <!-- Error: formato de email inválido -->
          <div
            *ngIf="
              formGroup.get('email')?.hasError('email') &&
              formGroup.get('email')?.touched
            "
            class="error-message"
          >
            <small class="p-error">El formato del email no es válido.</small>
          </div>
          <!-- Error: email requerido -->
          <div
            *ngIf="
              formGroup.get('email')?.hasError('required') &&
              formGroup.get('email')?.touched
            "
            class="error-message"
          >
            <small class="p-error">El email es requerido.</small>
          </div>

          <app-password-input
            formControlName="contrasenya"
          ></app-password-input>
          <!-- Error: contraseña requerida -->
          <div
            *ngIf="
              formGroup.get('contrasenya')?.hasError('required') &&
              formGroup.get('contrasenya')?.touched
            "
            class="error-message"
          >
            <small class="p-error">La contraseña es requerida.</small>
          </div>
          <!-- Error: contraseña no segura -->
          <div
            *ngIf="
              formGroup.get('contrasenya')?.hasError('passwordStrength') &&
              formGroup.get('contrasenya')?.touched
            "
            class="error-message"
          >
            <small class="p-error"
              >La contraseña debe tener al menos 8 caracteres, una mayúscula,
              una minúscula, un número y un carácter especial.</small
            >
          </div>

          <app-password-input
            formControlName="repetirContrasenya"
            [label]="'Repetir Contraseña'"
          ></app-password-input>

          <!-- Error: repetir contraseña requerida -->
          <div
            *ngIf="
              formGroup.get('repetirContrasenya')?.hasError('required') &&
              formGroup.get('repetirContrasenya')?.touched
            "
            class="error-message"
          >
            <small class="p-error">Repetir la contraseña es requerido.</small>
          </div>
          <!-- Error: las contraseñas no coinciden -->
          <div
            *ngIf="
              formGroup.hasError('passwordsDontMatch') &&
              formGroup.get('repetirContrasenya')?.touched
            "
            class="error-message"
          >
            <small class="p-error">Las contraseñas no coinciden.</small>
          </div>

          <!-- Tutor -->
          <p-dropdown
            class="w-full"
            [style]="{ width: '100%', height: '100%' }"
            [options]="(tutores$ | async) ?? []"
            [formControl]="tutor"
            optionLabel="email"
            optionValue="id"
            appendTo="body"
            placeholder="Tutor (opcional)"
          >
            <ng-template let-item pTemplate="selectedItem">
              <div class="flex align-items-center gap-2 h-full">
                <div>
                  {{
                    item.nombre && item.apellidos
                      ? item.nombre + " " + item.apellidos
                      : item.email
                  }}
                </div>
              </div>
            </ng-template>
            <ng-template let-item let-index pTemplate="item">
              <div class="flex align-items-center gap-2 h-full">
                <div>
                  {{
                    item.nombre && item.apellidos
                      ? item.nombre + " " + item.apellidos
                      : item.email
                  }}
                </div>
              </div>
            </ng-template>
          </p-dropdown>

          <!-- Checkbox de política de privacidad -->
          <div class="field-checkbox">
            <p-checkbox
              formControlName="politicaDePrivacidadAceptada"
              binary="true"
            ></p-checkbox>
            <label>
              He leído y acepto la
              <strong>
                <a
                  href="javascript:void(0)"
                  class="text-primary"
                  (click)="openPoliticaDialog()"
                >
                  política de privacidad.</a
                ></strong
              >
            </label>
            <!-- Error: política de privacidad no aceptada -->
            <div
              *ngIf="
                !formGroup.get('politicaDePrivacidadAceptada')?.value &&
                formGroup.get('politicaDePrivacidadAceptada')?.touched
              "
              class="error-message"
            >
              <small class="p-error"
                >Debe aceptar la política de privacidad.</small
              >
            </div>
          </div>
          <!-- Botón de registro -->
          <button
            pButton
            type="submit"
            [disabled]="formGroup.invalid"
            class="p-button dark-button p-button-raised"
            (click)="register()"
          >
            <span class="w-full">Registrarse</span>
          </button>
        </div>
      </div>
    </p-card>
  </div>
</div>
