<div class="grid" [formGroup]="formGroup">
  <div class="col-12 content">
    <p-card>
      <div class="grid">
        <div
          class="col-12 header flex justify-content-between align-items-center"
        >
          <div class="numero">
            <p-floatLabel>
              <input
                type="number"
                pInputText
                class="w-full"
                formControlName="numero"
              />
              <label for="numero">Número</label>
            </p-floatLabel>
          </div>
          <div class="categoria">
            <p-dropdown
              id="moduloId"
              [options]="modulos"
              formControlName="moduloId"
              optionLabel="nombre"
              optionValue="id"
              [showClear]="true"
              placeholder="Selecciona un módulo"
            ></p-dropdown>
          </div>
        </div>
        <div class="col-12 py-3">
          <p-floatLabel>
            <textarea
              class="w-full"
              id="float-input"
              rows="5"
              cols="30"
              pInputTextarea
              formControlName="descripcion"
            ></textarea>
            <label for="float-input">Descripción</label>
          </p-floatLabel>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12 footer flex justify-content-end w-full">
    <p-button label="Volver atrás" [link]="true" (click)="handleBackButton()" />
    <app-async-button
      *ngIf="getId() === 'new'; else updateButton"
      label="Crear tema"
      [action]="crearTema.bind(this)"
    />
    <ng-template #updateButton>
      <app-async-button
        label="Actualizar tema"
        [action]="actualizarTema.bind(this)"
      />
    </ng-template>
  </div>
</div>
