<p-confirmDialog></p-confirmDialog>

<app-generic-list
  [fetchItems$]="fetchItems$"
  [itemTemplate]="moduloItemTemplate"
  [filters]="filters"
  (onItemClick)="onItemClick($event)"
  (filtersChanged)="onFiltersChanged($event)"
>
  <div left-actions>
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
      <input
        type="text"
        pInputText
        placeholder="Buscar por nombre"
        [value]="pagination().searchTerm"
        (input)="valueChanged($event)"
        class="w-full"
      />
    </p-iconField>
  </div>

  <div right-actions>
    <p-button
      label="{{
        viewportService.screenWidth == 'xs' ? undefined : 'Crear nuevo'
      }}"
      icon="pi pi-plus"
      [link]="true"
      [routerLink]="['/app/test/modulos', 'new']"
    ></p-button>
  </div>

  <div empty-template>
    <div class="text-center p-4">
      No hay módulos disponibles
    </div>
  </div>
</app-generic-list>

<!-- Template para el item de módulo -->
<ng-template #moduloItemTemplate let-item>
  <div class="flex flex-row align-items-between">
    <div class="flex flex-column py-2 col-9 left-side truncate-flex-content">
      <div class="text-lg font-medium flex gap-2 align-items-center">
        <span class="identifier" pTooltip="{{ item.nombre }}" tooltipPosition="top">
          {{ item.nombre }}
        </span>
        <p-tag
          [value]="item.esPublico ? 'Público' : 'Privado'"
          [severity]="item.esPublico ? 'success' : 'warning'"
          pTooltip="{{ item.esPublico ? 'Módulo público' : 'Módulo privado' }}"
          tooltipPosition="top"
        ></p-tag>
        <p-badge 
          [value]="item._count?.temas?.toString() ?? '0'"
          severity="primary"
          pTooltip="Número de temas en el módulo"
          tooltipPosition="top"
        ></p-badge>
      </div>
      <span class="descripcion" pTooltip="{{ item.descripcion }}" tooltipPosition="top">
        {{ item.descripcion }}
      </span>
    </div>

    <div class="right-side col-3 flex align-items-center justify-content-end">
      <div class="flex flex-row align-items-center justify-content-end gap-2">
        <span class="text-xs hidden md:block unbreakable-text" pTooltip="Fecha de creación: {{ item.createdAt | date : 'dd/MM/yyyy HH:mm' }}" tooltipPosition="top">
          {{ item.createdAt | date : "short" }}
        </span>
        <p-button
          icon="pi pi-trash"
          styleClass="p-button-danger"
          pTooltip="Eliminar módulo"
          (click)="
            $event.stopPropagation();
            $event.preventDefault();
            eliminarModulo(item)
          "
        ></p-button>
      </div>
    </div>
  </div>
</ng-template>
