<p-dialog
  header="{{
    isRoleAdminOrAddingNew() ? 'Editar Sub-Bloque' : 'Visualizar Sub-Bloque'
  }}"
  [(visible)]="isDialogVisible"
  [modal]="true"
  (onHide)="isDialogVisibleChange.emit(false)"
  [style]="{ width: '50vw' }"
>
  <form [formGroup]="formGroup">
    <div class="grid py-5">
      <div class="col-4">
        @if (formGroup.get('nombre')?.disabled) { Nombre:
        <strong>{{ formGroup.get("nombre")?.value }}</strong>
        }@else{
        <p-floatLabel>
          <input
            id="nombre"
            style="width: 100%"
            type="text"
            pInputText
            formControlName="nombre"
          />
          <label for="nombre">Nombre</label>
        </p-floatLabel>
        }
      </div>

      <div class="col-3" *ngIf="isRoleAdminOrAddingNew()">
        <p-floatLabel>
          <p-dropdown
            id="duracion"
            [style]="{ width: '100%', height: '100%' }"
            formControlName="duracion"
            [options]="duracionOptions"
            appendTo="body"
            placeholder="Seleccione la duración"
          ></p-dropdown>
          <label for="duracion">Duración</label>
        </p-floatLabel>
      </div>
      <div
        class="col-5 flex align-items-center justify-content-end gap-2"
        *ngIf="isRoleAdminOrAddingNew()"
      >
        <p-floatLabel>
          <p-dropdown
            id="color"
            [style]="{ width: '100%', height: '100%' }"
            [formControl]="color"
            (onChange)="onColorTypeChange($event)"
            optionValue="value"
            optionLabel="label"
            [options]="posiblesTipos"
            appendTo="body"
            placeholder="Seleccione el tipo"
          ></p-dropdown>
          <label for="color">Tipo</label>
        </p-floatLabel>
        <p-divider layout="vertical" />
        <p-colorPicker [formControl]="color" appendTo="body" />
      </div>
      <div class="col-12" [ngClass]="{ 'py-3': isRoleAdminOrAddingNew() }">
        @if (formGroup.get('comentarios')?.disabled) {
        <p>
          Comentarios:
          <markdown [data]="formGroup.get('comentarios')?.value"></markdown>
        </p>
        }@else{
        <div class="col-12 py-3">
          <div class="markdown-container">
            <div class="editor">
              <h3>Comentarios:</h3>
              <div id="editor-comentarios"></div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </form>
  <p-footer>
    <button
      pButton
      label="{{ isRoleAdminOrAddingNew() ? 'Cancelar' : 'Cerrar' }}"
      (click)="cancelarEdicion()"
      class="p-button-text"
    ></button>
    <button
      *ngIf="isRoleAdminOrAddingNew()"
      pButton
      label="Guardar"
      (click)="guardarEdicion()"
      [disabled]="formGroup.invalid"
    ></button>
  </p-footer>
</p-dialog>
