<p-confirmDialog></p-confirmDialog>

<app-generic-list
  [fetchItems$]="fetchItems$"
  [itemTemplate]="temaItemTemplate"
  [filters]="filters"
  (onItemClick)="onItemClick($event)"
  (filtersChanged)="onFiltersChanged($event)"
>
  <div left-actions>
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
      <input
        type="text"
        pInputText
        placeholder="Buscar por categoría"
        [value]="pagination().searchTerm"
        (input)="valueChanged($event)"
        class="w-full"
      />
    </p-iconField>
  </div>

  <div right-actions>
    <p-button
      label="{{
        viewportService.screenWidth == 'xs' ? undefined : 'Crear nuevo'
      }}"
      icon="pi pi-plus"
      [link]="true"
      (click)="navigateToDetailview('new')"
    ></p-button>
  </div>

  <div empty-template>
    <div class="text-center p-4">No hay temas disponibles</div>
  </div>
</app-generic-list>

<!-- Template para el item de tema -->
<ng-template #temaItemTemplate let-item>
  <div class="flex flex-row align-items-between">
    <div class="flex flex-column py-2 col-9 left-side truncate-flex-content">
      <div class="text-lg font-medium flex gap-2 align-items-center">
        <span
          class="identifier"
          pTooltip="Tema {{ item.numero }}"
          tooltipPosition="top"
        >
          Numero {{ item.numero }}
        </span>
        <span
          class="badge bg-primary text-white"
          pTooltip="{{
            item.modulo
              ? 'Módulo: ' + item.modulo.nombre
              : 'Sin módulo asignado'
          }}"
          tooltipPosition="top"
        >
          {{ item.modulo?.nombre ?? 'Sin módulo' }}
        </span>
      </div>
      <span
        class="descripcion"
        pTooltip="{{ item.descripcion }}"
        tooltipPosition="top"
      >
        {{
          item.descripcion && item.descripcion.length > 0
            ? item.descripcion
            : "Sin descripción"
        }}
      </span>
    </div>

    <div class="right-side col-3 flex align-items-center justify-content-end">
      <div class="flex flex-row align-items-center justify-content-end gap-2">
        <span
          class="text-xs hidden md:block unbreakable-text"
          pTooltip="Fecha de creación: {{
            item.createdAt | date : 'dd/MM/yyyy HH:mm'
          }}"
          tooltipPosition="top"
        >
          {{ item.createdAt | date : "short" }}
        </span>
        <p-button
          icon="pi pi-trash"
          styleClass="p-button-danger"
          pTooltip="Eliminar tema"
          (click)="
            $event.stopPropagation();
            $event.preventDefault();
            eliminarTema(item.id, $event)
          "
        ></p-button>
      </div>
    </div>
  </div>
</ng-template>
