<p-dropdown
  class="w-full"
  [style]="{ width: '100%', height: '100%' }"
  [options]="optionsToUse"
  [formControl]="formControlDificultad"
  [showClear]="true"
  optionLabel="label"
  optionValue="value"
  placeholder="{{ 'Selecciona un tipo' }}"
  [group]="isGrouped"
  appendTo="body"
>
  <ng-template let-group pTemplate="group" *ngIf="isGrouped">
    <div class="flex align-items-center">
      <strong>{{ group.label }}</strong>
    </div>
  </ng-template>
  <ng-template let-item pTemplate="selectedItem">
    <div class="flex align-items-center gap-2 h-full">
      @if (item.icon) {
      <i class="pi {{ item.icon }}"></i>
      } @else {
      <i class="pi pi-{{ star }}" *ngFor="let star of item.stars"></i>
      }
      <div class="block">{{ item.label }}</div>
    </div>
  </ng-template>
  <ng-template let-item let-index pTemplate="item">
    <div class="flex align-items-center gap-2 h-full">
      @if (item.icon) {
      <i class="pi {{ item.icon }}"></i>
      } @else {
      <i class="pi pi-{{ star }}" *ngFor="let star of item.stars"></i>
      }
      <div class="block">{{ item.label }}</div>
    </div>
  </ng-template>
</p-dropdown>
