<p-dropdown
  class="w-full"
  [style]="{ width: '100%', height: '100%' }"
  [options]="getAllDifficultades(false, rol == rolEnum.ALUMNO, isDoingTest)"
  [formControl]="formControlDificultad"
  optionLabel="label"
  optionValue="value"
  placeholder="{{
    rol == rolEnum.ALUMNO ? 'Selecciona un tipo' : 'Selecciona una dificultad'
  }}"
>
  <ng-template let-item pTemplate="selectedItem">
    <div class="flex align-items-center gap-2 h-full">
      @if (item.icon) {
      <i class="pi {{ item.icon }}"></i>
      } @else {
      <i class="pi pi-{{ star }}" *ngFor="let star of item.stars"></i>
      }
      <div class="hidden md:block">{{ item.label }}</div>
    </div>
  </ng-template>
  <ng-template let-item let-index pTemplate="item">
    <div class="flex align-items-center gap-2 h-full">
      @if (item.icon) {
      <i class="pi {{ item.icon }}"></i>
      } @else {
      <i class="pi pi-{{ star }}" *ngFor="let star of item.stars"></i>
      }
      <div class="hidden md:block">{{ item.label }}</div>
    </div>
  </ng-template>
</p-dropdown>
