<div class="grid" [formGroup]="formGroup">
  <div class="col-12 content">
    <div
      class="col-12 header flex justify-content-start align-items-center pt-4 gap-3"
    >
      <div class="identificador">
        @if (getId() !== 'new' && !lastLoaded?.identificador?.includes('CLON'))
        { @if (viewportService.screenWidth != 'xs') { Identificador: }
        <strong>{{ formGroup.value.identificador }}</strong>
        }@else {
        <p-floatLabel>
          <input
            type="text"
            pInputText
            class="w-full"
            formControlName="identificador"
          />
          <label for="identificador">Identificador</label>
        </p-floatLabel>
        }
      </div>
      <div class="nombre" *ngIf="viewportService.screenWidth != 'xs'">
        <p-floatLabel>
          <input
            type="text"
            pInputText
            class="w-full"
            formControlName="descripcion"
          />
          <label for="descripcion">Descripción</label>
        </p-floatLabel>
      </div>
      <app-async-button
        [action]="guardarPlantilla.bind(this)"
        label="Guardar cambios"
      ></app-async-button>
    </div>
    <app-vista-semanal
      [(events)]="events"
      [role]="'ADMIN'"
      [viewDate]="viewDate"
    ></app-vista-semanal>
  </div>
</div>
