<app-editar-sub-bloque-dialog
  [(isDialogVisible)]="isDialogVisible"
  [data]="editSubBloqueData"
  (savedSubBloque)="saveEvent($event)"
></app-editar-sub-bloque-dialog>

<p-dialog
  header="Añadir Comentario"
  [(visible)]="isCommentDialogVisible"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '400px' }"
>
  <div class="p-fluid" *ngIf="selectedSubBloque">
    <div class="field">
      <label for="comentariosAlumno">Comentario</label>
      <textarea
        id="comentariosAlumno"
        rows="4"
        pInputTextarea
        [(ngModel)]="selectedSubBloque.comentariosAlumno"
        class="p-inputtextarea"
        placeholder="Escribe tu comentario aquí..."
      ></textarea>
    </div>
  </div>
  <p-footer>
    <button
      pButton
      label="Cancelar"
      class="p-button-text"
      (click)="isCommentDialogVisible = false"
    ></button>
    <button
      pButton
      label="Guardar"
      icon="pi pi-check"
      class="p-button-primary"
      (click)="saveComment()"
    ></button>
  </p-footer>
</p-dialog>

<div class="row">
  <p-accordion *ngIf="mode == 'edit'">
    <p-accordionTab header="Bloques asignables">
      <div class="col-12">
        <div class="top-action-bar">
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
            <input
              type="text"
              pInputText
              placeholder="Buscar por identificador"
              style="min-width: 30vw"
              (input)="debouncedValueChanged($event)"
            />
          </p-iconField>
          <div class="right-actions"></div>
        </div>
      </div>
      <div
        class="list-bloques flex gap-2"
        mwlDroppable
        dragOverClass="drag-over"
        *ngIf="getAllBloques$() | async as bloques"
      >
        <p *ngIf="bloques.data.length == 0"><em>No events added</em></p>

        <p-card
          *ngFor="let bloque of bloques.data"
          mwlDraggable
          [dropData]="{ event: bloque }"
          [touchStartLongPress]="{ delay: 300, delta: 30 }"
          dragActiveClass="drag-active"
          header="{{ bloque.identificador }}"
          class="col-12 md:col-3 drag-card"
        >
          <div class="content-card">
            <div
              class="flex flex-wrap p-2 align-items-center gap-3"
              [ngStyle]="{ 'background-color': subBloque.color }"
              *ngFor="let subBloque of bloque.subBloques"
            >
              <div class="flex-1 flex flex-column gap-2">
                <span class="font-bold">{{
                  subBloque.nombre && subBloque.nombre.length > 0
                    ? subBloque.nombre
                    : "Sin nombre"
                }}</span>
                <div class="flex align-items-center gap-2">
                  <i class="pi pi-clock text-sm"></i>
                  <span> {{ subBloque.duracion }} minutos </span>
                </div>
              </div>
              <span class="font-bold">
                {{ subBloque.comentarios || "Sin comentarios" }}
              </span>
            </div>
          </div>
        </p-card>
      </div>
    </p-accordionTab>
  </p-accordion>

  <div class="col-md-9 calendar-table">
    <ng-template #templatePlan let-weekEvent="weekEvent">
      <div
        class="wrapper"
        (click)="mode == 'edit' ? onEventClicked(weekEvent.event) : false"
      >
        <div
          class="custom-event-template"
          [ngStyle]="{
            'background-color': weekEvent?.event?.color?.primary || '#e3e3e3'
          }"
        >
          <div class="event-content">
            <div class="event-header">
              <strong class="descripcion w-full">{{
                weekEvent?.event?.title || "Sin nombre"
              }}</strong>
              <div class="event-actions">
                @if(role == 'ALUMNO'){
                <i
                  class="{{
                    !!weekEvent?.event?.meta?.subBloque?.comentariosAlumno
                      ? 'fa-solid'
                      : 'fa-regular'
                  }} fa-comment comment-icon text-primary"
                  (click)="
                    openCommentDialog(weekEvent?.event?.meta?.subBloque, $event)
                  "
                ></i>
                <p-checkbox
                  [(ngModel)]="weekEvent.event.meta.subBloque.realizado"
                  binary="true"
                  (click)="$event.preventDefault(); $event.stopPropagation()"
                  (ngModelChange)="saveChanges.emit()"
                  styleClass="complete-checkbox"
                ></p-checkbox>
                }@else {
                <i
                  class="fa-solid fa-trash-can text-primary"
                  (click)="
                    deleteEvent(weekEvent?.event?.meta?.subBloque, $event)
                  "
                ></i>
                }
              </div>
            </div>
            <span class="event-comments descripcion w-full">
              {{
                weekEvent?.event?.meta?.subBloque?.comentarios ||
                  "Sin comentarios"
              }}
            </span>
          </div>
        </div>
      </div>
    </ng-template>
    <mwl-calendar-week-view
      [viewDate]="viewDate"
      [dayStartHour]="0"
      [dayEndHour]="23"
      [hourSegments]="2"
      [locale]="'es'"
      [events]="events"
      [refresh]="refresh"
      [snapDraggedEvents]="false"
      [weekStartsOn]="1"
      [eventTemplate]="templatePlan"
      (hourSegmentClicked)="mode === 'edit' && onTimeClicked($event)"
      (eventTimesChanged)="mode === 'edit' && eventDropped($event)"
      (eventClicked)="mode === 'edit' && onEventClicked($event.event)"
    >
    </mwl-calendar-week-view>
  </div>
</div>
