<app-editar-sub-bloque-dialog
  [(isDialogVisible)]="isDialogVisible"
  [data]="editSubBloqueData"
  (savedSubBloque)="saveEvent($event)"
></app-editar-sub-bloque-dialog>

<p-dialog
  *ngIf="role == 'ADMIN'"
  header="Seleccionar bloque asignable"
  [(visible)]="seleccionandoBloquesAsignables"
  [modal]="true"
>
  <div class="col-12">
    <div class="top-action-bar">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
        <input
          type="text"
          pInputText
          placeholder="Buscar por identificador"
          style="min-width: 30vw"
          (input)="debouncedValueChanged($event)"
        />
      </p-iconField>
      <div class="right-actions"></div>
    </div>
  </div>
  <div
    class="list-bloques flex gap-2"
    mwlDroppable
    dragOverClass="drag-over"
    *ngIf="getAllBloques$() | async as bloques"
  >
    <p *ngIf="bloques.data.length == 0"><em>No events added</em></p>

    <p-card
      *ngFor="let bloque of bloques.data"
      (click)="bloqueAsignableSeleccionado(bloque)"
      header="{{ bloque.identificador }}"
      class="col-12 md:col-3"
    >
      <div class="content-card">
        <div
          class="flex flex-wrap p-2 align-items-center gap-3"
          [ngStyle]="{ 'background-color': subBloque.color }"
          *ngFor="let subBloque of bloque.subBloques"
        >
          <div class="flex-1 flex flex-column gap-2">
            <span class="font-bold">{{
              subBloque.nombre && subBloque.nombre.length > 0
                ? subBloque.nombre
                : "Sin nombre"
            }}</span>
            <div class="flex align-items-center gap-2">
              <i class="pi pi-clock text-sm"></i>
              <span> {{ subBloque.duracion }} minutos </span>
            </div>
          </div>
          <span class="font-bold">
            {{ subBloque.comentarios || "Sin comentarios" }}
          </span>
        </div>
      </div>
    </p-card>
  </div>
</p-dialog>

<ng-template
  #headerTemplate
  let-days="days"
  let-locale="locale"
  let-dayClicked="dayClicked"
  let-eventDropped="eventDropped"
>
  <div class="cal-day-headers cursor-default">
    <div
      class="cal-header"
      *ngFor="let day of days"
      [class.cal-past]="day.isPast"
      [class.cal-future]="day.isFuture"
      [class.cal-drag-over]="day.dragOver"
    >
      <div class="top" [class.today]="day.isToday">
        <div class="day-label text-uppercase">
          {{ day.date | calendarDate : "weekViewColumnHeader" : locale }}
        </div>
        <!-- <div class="day-number">
          {{ day.date | calendarDate : "weekViewColumnSubHeader" : locale }}
        </div> -->
      </div>
      <!-- Progreso debajo del día -->
      <div
        class="progress-container"
        *ngIf="role == 'ALUMNO' && getEventsForDay(events, day.date).length > 0"
      >
        <div class="progress-bar-background">
          <div
            class="progress-bar"
            [style.width.%]="getProgressPercentageForDay(events, day.date)"
            [style.background-color]="getProgressBarColor(events, day.date)"
          ></div>
        </div>
        <small>
          {{ getCompletedSubBlocksForDay(events, day.date) }} de
          {{ getEventsForDay(events, day.date).length }} sub bloques completados
        </small>
      </div>
    </div>
  </div>
</ng-template>

<p-dialog
  header="Añadir Comentario"
  [(visible)]="isCommentDialogVisible"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '400px' }"
>
  <div class="p-fluid" *ngIf="selectedSubBloque">
    <div class="field">
      <label for="comentariosAlumno">Comentario</label>
      <textarea
        id="comentariosAlumno"
        rows="4"
        pInputTextarea
        [(ngModel)]="selectedSubBloque.comentariosAlumno"
        class="p-inputtextarea"
        placeholder="Escribe tu comentario aquí..."
      ></textarea>
    </div>
  </div>
  <p-footer>
    <button
      pButton
      label="Cancelar"
      class="p-button-text"
      (click)="isCommentDialogVisible = false"
    ></button>
    <button
      pButton
      label="Guardar"
      icon="pi pi-check"
      class="p-button-primary"
      (click)="saveComment()"
    ></button>
  </p-footer>
</p-dialog>

<div class="row">
  <!-- <p-accordion *ngIf="mode == 'edit'">
    <p-accordionTab header="Bloques asignables">

    </p-accordionTab>
  </p-accordion> -->

  <div class="col-md-9 calendar-table">
    <ng-template #templatePlan let-weekEvent="weekEvent">
      <div
        class="wrapper"
        (click)="
          role == 'ALUMNO'
            ? (weekEvent.event.meta.subBloque.realizado =
                !weekEvent.event.meta.subBloque.realizado)
            : mode == 'edit'
            ? onEventClicked(weekEvent.event)
            : false
        "
      >
        <div
          class="custom-event-template"
          [ngStyle]="{
            'background-color': weekEvent?.event?.color?.primary || '#e3e3e3'
          }"
        >
          <div class="event-content">
            <div class="event-header">
              <strong class="descripcion w-full">{{
                weekEvent?.event?.title || "Sin nombre"
              }}</strong>
              <div class="event-actions">
                <i
                  class="{{
                    !!weekEvent?.event?.meta?.subBloque?.comentariosAlumno
                      ? 'fa-solid'
                      : 'fa-regular'
                  }} fa-comment comment-icon text-primary"
                  (click)="
                    openCommentDialog(weekEvent?.event?.meta?.subBloque, $event)
                  "
                ></i>
                <p-checkbox
                  *ngIf="role == 'ALUMNO'"
                  [(ngModel)]="weekEvent.event.meta.subBloque.realizado"
                  binary="true"
                  (click)="$event.preventDefault(); $event.stopPropagation()"
                  (ngModelChange)="saveChanges.emit()"
                  styleClass="complete-checkbox"
                ></p-checkbox>

                @if(role == 'ADMIN'){
                <i
                  class="fa-solid fa-trash-can text-primary"
                  (click)="deleteEvent(weekEvent?.event, $event)"
                ></i>
                }
              </div>
            </div>
            <span class="event-comments descripcion w-full">
              {{
                weekEvent?.event?.meta?.subBloque?.comentarios ||
                  "Sin comentarios"
              }}
            </span>
          </div>
        </div>
      </div>
    </ng-template>
    <p-contextMenu
      #cm
      [model]="menuItems"
      [global]="true"
      [appendTo]="'body'"
    ></p-contextMenu>

    <mwl-calendar-week-view
      [viewDate]="viewDate"
      [dayStartHour]="6"
      [dayEndHour]="23"
      [hourSegments]="2"
      [locale]="'es'"
      [events]="events"
      [refresh]="refresh"
      [snapDraggedEvents]="false"
      [headerTemplate]="headerTemplate"
      [weekStartsOn]="1"
      [eventTemplate]="templatePlan"
      (hourSegmentClicked)="mode === 'edit' && onTimeClicked($event, cm)"
      (eventTimesChanged)="mode === 'edit' && eventDropped($event)"
      (eventClicked)="mode === 'edit' && onEventClicked($event.event)"
    >
    </mwl-calendar-week-view>
  </div>
</div>
