@import "../../../theme-firemd/variables";

.drag-active {
  position: relative;
  z-index: 1;
  pointer-events: auto;
}
.drag-over {
  background-color: #eee;
}

.list-bloques {
  overflow: auto;
  flex-wrap: nowrap;
}

.content-card {
  max-height: 15rem;
  overflow: auto;
}

.drag-card {
  cursor: grab;
}

:host ::ng-deep {
  .cal-time-events,
  .cal-week-view,
  .cal-day-headers {
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
  }
  .cal-header {
    span {
      display: none;
    }
  }
}
.wrapper {
  height: 100%;
  padding: 0.3rem 0.1rem;
}
.custom-event-template {
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.checked-event {
  border: 3px solid $primaryColor;
}



.event-content {
  width: 100%;
  div {
    width: 100%;
  }
}

.event-content strong {
  font-size: 1em;
}

.event-comments {
  font-size: 0.9em;
  opacity: 0.8;
}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-actions {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: end;
}

.complete-checkbox {
  transform: scale(0.8); /* Reduce el tamaño del checkbox */
}

.custom-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.progress-container {
  margin-top: 5px;
}

small {
  font-size: 12px;
  color: #555;
}

/* Contenedor con fondo gris */
.progress-bar-background {
  background-color: #e0e0e0; /* Gris claro */
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
  width: 100%;
  margin-top: 5px;
  position: relative;
}

/* Barra de progreso dinámica */
.progress-bar {
  height: 100%;
  transition: width 0.3s ease;
}
