<p-confirmDialog></p-confirmDialog>
<div class="grid">
  <div class="col-12">
    <div class="top-action-bar">
      <div class="left flex gap-2 flex-wrap">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
          <input
            type="text"
            pInputText
            placeholder="Identificador o usuario"
            style="min-width: 30vw"
            [value]="pagination().searchTerm"
            (input)="valueChanged($event)"
          />
        </p-iconField>
        <div class="field">
          <p-dropdown
            class="w-full"
            [showClear]="true"
            [options]="duracionesDisponibles"
            [formControl]="valueDuracion"
            (onChange)="updateWhere()"
            optionLabel="label"
            optionValue="value"
            appendTo="body"
            placeholder="Duración"
          >
          </p-dropdown>
        </div>
        <div class="field">
          <p-dropdown
            class="w-full"
            [showClear]="true"
            [formControl]="asignadas"
            [options]="opcionesAsignadas"
            (onChange)="updateWhere()"
            optionLabel="label"
            optionValue="value"
            appendTo="body"
            placeholder="Tipo"
          >
          </p-dropdown>
        </div>
      </div>
      <div class="right-actions">
        <p-button
          icon="pi pi-sync"
          [link]="true"
          (click)="refresh()"
        ></p-button>
        <p-button
          *ngIf="expectedRole == 'ADMIN'"
          label="{{
            viewportService.screenWidth == 'xs' ? undefined : 'Crear nueva'
          }}"
          icon="pi pi-plus"
          (click)="navigateToDetailview('new')"
        ></p-button>
      </div>
    </div>
  </div>
  <div class="col-12 list-generic">
    <p-dataView #dv [value]="(fetchItems$() | async)?.data ?? []">
      <ng-template pTemplate="list" let-products>
        <div class="grid grid-nogutter">
          <div
            class="col-12 item-container pointer"
            (click)="navigateToDetailview(item.id)"
            *ngFor="let item of products; let first = first"
          >
            <div class="flex flex-row align-items-between">
              <div class="flex flex-column py-2 col-9 left-side">
                <div
                  class="font-medium text-secondary text-sm hora-solicitud flex gap-2"
                >
                  <div class="flex gap-1">
                    <span class="hidden md:block">Identificador: </span>
                    <strong class="identifier">{{ item.identificador }}</strong>
                    <p-chip *ngIf="item.esPorDefecto" label="Por defecto" />
                    <p-chip
                      label="{{ matchKeyWithLabel(item.tipoDePlanificacion) }}"
                    />
                    <p-chip
                      *ngIf="item?.asignacion?.alumno"
                      label="{{
                        item.asignacion.alumno.nombre
                          ? item.asignacion.alumno.nombre +
                            ' ' +
                            item.asignacion.alumno.apellidos
                          : item.asignacion.alumno.email
                      }}"
                    />
                  </div>
                </div>
                <span class="font-small text-secondary text-sm descripcion">{{
                  item.descripcion
                }}</span>
              </div>
              <div
                class="right-side col-3 flex align-items-center justify-content-end"
              >
                <div
                  class="flex flex-row align-items-center justify-content-end gap-2"
                >
                  <app-comunidad-picker
                    [comunidades]="item.relevancia"
                  ></app-comunidad-picker>
                  <span
                    class="font-medium text-secondary text-sm hidden md:block"
                  >
                    {{ item.createdAt | date : "short" }}</span
                  >
                  <p-button *ngIf="expectedRole == 'ADMIN'"
                    [link]="true"
                    icon="pi pi-clone"
                    (click)="
                      $event.stopPropagation();
                      $event.preventDefault();
                      clonarPlanificacion(item.id)
                    "
                  ></p-button>
                  <p-button
                    [link]="true"
                    icon="pi pi-trash"
                    (click)="
                      $event.stopPropagation();
                      $event.preventDefault();
                      eliminar(item.id, $event)
                    "
                  ></p-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
  <div class="col-12">
    <div class="card flex justify-content-end">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="pagination().skip"
        [rows]="pagination().take"
        [totalRecords]="lastLoadedPagination?.pagination?.count ?? 10"
        [showPageLinks]="viewportService.screenWidth != 'xs'"
      ></p-paginator>
    </div>
  </div>
</div>
