<p-dialog
  [(visible)]="dialogVisible"
  header="Fallos reportados en {{ lastLoadedPregunta().identificador }}"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
  (onHide)="dialogVisible = false"
  *ngIf="lastLoadedPregunta()"
>
  <app-preguntas-fallos-overview
    *ngIf="dialogVisible && !!lastLoadedFallosPreguntaPagination"
    [data]="lastLoadedFallosPreguntaPagination"
    [mode]="'injected'"
  ></app-preguntas-fallos-overview>
</p-dialog>

<div class="grid p-2" [formGroup]="formGroup">
  <div class="col-12 content">
    <p-card>
      <div class="grid">
        <div
          class="col-12 header flex justify-content-between align-items-center gap-3"
        >
          <div class="identificador">
            @if(mode == 'edit') { @if (getId() !== 'new' ) {
            <div class="flex align-items-center gap-2">
              <span *ngIf="viewportService.screenWidth != 'xs'"
                >Identificador:</span
              >
              <strong>{{ formGroup.value.identificador }}</strong>
            </div>
            }@else {
            <p-floatLabel *ngIf="expectedRole == 'ADMIN'">
              <input
                type="text"
                pInputText
                class="w-full"
                formControlName="identificador"
              />
              <label for="identificador">Identificador</label>
            </p-floatLabel>
            } }
          </div>
          <div class="actions">
            <p-button
              *ngIf="mode == 'edit'"
              [link]="true"
              icon="pi pi-angle-double-left"
              (click)="anteriorForwardPregunta()"
            />

            <p-button
              *ngIf="mode == 'edit'"
              [link]="true"
              icon="pi pi-angle-left"
              (click)="anteriorPregunta()"
            />

            <p-divider
              *ngIf="viewportService.screenWidth != 'xs'"
              layout="vertical"
            />

            <p-button
              *ngIf="mode == 'edit'"
              [link]="true"
              icon="pi pi-angle-right"
              (click)="siguientePregunta()"
            ></p-button>

            <p-button
              *ngIf="mode == 'edit'"
              [link]="true"
              icon="pi pi-angle-double-right"
              (click)="siguienteForwardPregunta()"
            />
          </div>
          <div class="relevancia">
            <app-comunidad-picker
              [allowAdd]="true"
              [comunidades]="relevancia.value"
              (updateSelection)="updateCommunitySelection($event)"
            ></app-comunidad-picker>
          </div>
        </div>
        <div
          class="col-12"
          *ngIf="getFallosPregunta$() | async as fallosPregunta"
        >
          <ng-container *ngIf="fallosPregunta > 0; else noFallos">
            <p class="m-0">
              Esta pregunta tiene {{ fallosPregunta }} fallos reportados por
              alumnos. Haga click en
              <a
                href="javascript:void(0)"
                (click)="dialogVisible = true"
                class="text-primary"
              >
                <strong>Ver fallos</strong></a
              >
              para visualizarlos.
            </p>
          </ng-container>

          <ng-template #noFallos>
            <p>No hay fallos reportados para esta pregunta.</p>
          </ng-template>
        </div>
        <div class="col-12 py-3">
          <div class="markdown-container">
            <div class="editor">
              <h3>Enunciado</h3>
              <div id="editor-enunciado"></div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <p-dropdown
            class="w-full"
            [style]="{ width: '100%' }"
            [filter]="true"
            filterBy="label"
            [options]="(getAllTemas$ | async) ?? []"
            formControlName="temaId"
            placeholder="Selecciona un tema"
            [group]="true"
          >
            <ng-template let-group pTemplate="group">
              <div class="flex align-items-center">
                <strong>{{ group.label }}</strong>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="col-6">
          <app-dificultad-dropdown
            [formControlDificultad]="formGroup.get('dificultad')"
            [rol]="expectedRole"
          ></app-dificultad-dropdown>
        </div>
        <div
          class="col-12 respuestas-list pointer"
          *ngFor="let control of respuestas.controls; let i = index"
          (click)="formGroup.patchValue({ respuestaCorrectaIndex: i })"
          [ngClass]="{
            'respuesta-correcta': i == formGroup.value.respuestaCorrectaIndex
          }"
        >
          <p-inputGroup>
            <p-inputGroupAddon>{{ getLetter(i) }}) </p-inputGroupAddon>
            @if(control.enabled){
            <input
              type="text"
              pInputText
              (click)="$event.preventDefault(); $event.stopPropagation()"
              [formControl]="parseControl(control)"
            />
            }@else {
            <div
              class="flex w-full align-items-center"
              (dblclick)="enableAllRespuestas()"
            >
              <span>{{ control.value }}</span>
            </div>
            }
            <p-inputGroupAddon (click)="respuestas.removeAt(i)"
              ><i class="pi pi-trash"></i>
            </p-inputGroupAddon>
          </p-inputGroup>
        </div>
        <div class="col-12 respuestas-actions flex justify-content-end">
          <p-button
            label="Añadir nueva respuesta"
            [link]="true"
            (click)="addNewPregunta()"
          ></p-button>
          <p-button
            *ngIf="respuestas.dirty"
            label="Guardar cambios"
            (click)="disableAllRespuestas()"
            [link]="true"
          ></p-button>
        </div>
      </div>
      <div class="col-12 px-0">
        <div class="markdown-container">
          <div class="editor">
            <h3>Solución (opcional)</h3>
            <div id="editor"></div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12 justify-content-end align-items-center w-full flex">
    @if (getId() == 'new' && mode == 'edit') {
    <p-checkbox
      inputId="crearOtra"
      [formControl]="crearOtroControl"
      [binary]="true"
    ></p-checkbox>
    <label for="crearOtra" class="ml-2">Crear otra</label>
    }
  </div>
  <div class="col-12 footer flex justify-content-end w-full">
    <p-button
      *ngIf="mode != 'injected'"
      label="Volver atrás"
      [link]="true"
      (click)="handleBackButton()"
    ></p-button>
    @if(getId() == 'new' || mode == 'injected'){
    <p-button label="Crear pregunta" (click)="crearPregunta()"></p-button>
    }@else{
    <p-button
      label="Actualizar pregunta"
      (click)="actualizarPregunta()"
    ></p-button>
    }
  </div>
</div>
