.top-action-bar {
  flex-wrap: wrap;
}

:host ::ng-deep {
  .firemd-avatar-group {
    .p-avatar-group {
      gap: 0.5rem;
    }
    .p-avatar-circle {
      width: 1.5rem;
      height: 1.5rem;
      font-size: 0.8rem;
    }
    .p-avatar-text {
      margin-top: -2px;
    }
  }

  // Estilos para los botones del diálogo
  .p-button-lg {
    padding: 1rem;

    .p-button-icon {
      font-size: 1.2rem;
      margin-right: 0.5rem;
    }

    .p-button-label {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }

  // Estilo para el badge de examen
  .p-badge {
    font-size: 0.75rem;
    font-weight: 600;
  }
}
