<ng-container *ngIf="stats$ | async as stat">
  <div class="grid mb-4">
    <div class="col-12" *ngIf="test$ | async as test">
      <div class="flex align-items-center justify-content-between topbar">
        <span
          >Test realizado el dia
          {{ test.createdAt | date : "short" }}</span
        >
        <p-button
          [link]="true"
          label="Volver atras"
          (click)="handleBackButton()"
        />
      </div>
    </div>
    <app-pie-chart-dashboard-security
      [stat]="stat"
    ></app-pie-chart-dashboard-security>
    <div class="grid pb-4 w-full">
      <div class="col-4 nota">
        <p>⭐</p>
        <div>{{ calcular100().toFixed(2) }}</div>
      </div>
      <div class="col-4 nota">
        <p>⭐ + 👍</p>
        <div>{{ calcular100y75().toFixed(2) }}</div>
      </div>
      <div class="col-4 nota">
        <p>⭐ + 👍 + 👎</p>
        <div>{{ calcular100y75y50().toFixed(2) }}</div>
      </div>
    </div>
  </div>
</ng-container>
