<ng-container *ngIf="stats$ | async as stat">
  <div class="grid mb-4 p-2">
    <div class="col-12" *ngIf="test$ | async as test">
      <div class="flex align-items-center justify-content-between topbar mb-4">
        <span class="text-xl font-semibold text-700">
          Test realizado el día {{ test.createdAt | date : "short" }}
        </span>
        <p-button
          [link]="true"
          label="{{ viewportService.isMobile() ? 'Volver atrás' : '' }}"
          icon="pi pi-arrow-left"
          (click)="handleBackButton()"
        />
      </div>
    </div>

    <!-- Overview Principal -->
    <div class="col-12 mb-4">
      <div class="grid">
        <!-- Nota Final con Gráfico Circular -->
        <div class="col-12 md:col-4">
          <app-score-chart-card
            title="Nota Final"
            [score]="calcular100y75y50()"
            description="Puntuación total del test"
          ></app-score-chart-card>
        </div>

        <!-- Estadísticas Generales -->
        <div class="col-12 md:col-8">
          <app-kpi-stats-cards
            [stats]="getKpiStatsForTestStats(stat)"
          ></app-kpi-stats-cards>
        </div>
      </div>
    </div>

    <!-- Cards de Combinaciones de Confianza -->
    <div class="col-12 mb-4">
      <app-confidence-analysis-cards
        [analyses]="getCombinedConfidenceAnalysis(stat)"
        [cardCol]="'col-12 md:col-4'"
      ></app-confidence-analysis-cards>
    </div>

    <!-- Cards de Confianza -->
    <div class="col-12">
      <div
        class="flex align-items-center mb-3 cursor-pointer justify-content-between"
        (click)="toggleIndividualConfidence()"
      >
        <h3 class="text-xl font-semibold text-700 mr-2">
          Análisis por Nivel de Confianza
        </h3>
        <i
          class="pi"
          [class.pi-chevron-down]="!showIndividualConfidence"
          [class.pi-chevron-up]="showIndividualConfidence"
        ></i>
      </div>
      <div *ngIf="showIndividualConfidence">
        <app-confidence-analysis-cards
          [analyses]="getConfidenceAnalysisForTestStats(stat)"
        ></app-confidence-analysis-cards>
      </div>
    </div>
  </div>
</ng-container>
