<div class="grid h-full" style="overflow: hidden">
  <div class="bar w-full mb-2" *ngIf="viewportService.screenWidth === 'xs'">
    <button
      class="p-button p-button-text p-button-icon-only"
      (click)="toggleMenu()"
    >
      <i class="pi pi-bars"></i>
    </button>
  </div>

  <div
    class="col-auto py-0 pl-0 lateral-bar"
    [ngClass]="{
      'mobile-expanded': viewportService.screenWidth == 'xs' && isMenuVisible,
      'menu-collapsed': !isMenuExpanded && viewportService.screenWidth !== 'xs',
      'menu-expanded': isMenuExpanded && viewportService.screenWidth !== 'xs'
    }"
    *ngIf="viewportService.screenWidth !== 'xs' || isMenuVisible"
    (mouseenter)="onMenuHover(true)"
    (mouseleave)="onMenuHover(false)"
  >
    <p-menu
      [model]="items"
      styleClass="w-full h-full"
      *ngIf="authService.currentUser$ | async as user"
    >
      <ng-template pTemplate="start">
        <div class="image-container py-3">
          <img
            src="white_logo.png"
            alt="Logo"
            [class.small-logo]="
              !isMenuExpanded && viewportService.screenWidth !== 'xs'
            "
          />
        </div>
        <div
          (click)="editProfile()"
          class="perfil p-2 flex align-items-center justify-content-{{isMenuExpanded ? 'start' : 'center'}} w-full gap-2 pointer"
        >
          <div class="avatar-container mt-0">
            @if (!user.avatarUrl) {
            <i class="pi pi-user"></i>
            } @else {
            <img
              [src]="user.avatarUrl"
              alt="Avatar"
              class="avatar-preview"
              style="max-width: 32px; max-height: 32px"
            />
            }
          </div>

          <span
            class="descripcion"
            *ngIf="isMenuExpanded || viewportService.screenWidth === 'xs'"
          >
            {{ user.nombre + " " + user.apellidos }}
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="submenuheader" let-item>
        <div
          class="menu-header"
          (click)="
            !!item.items && item.items.length > 0
              ? toggleCollapse(item)
              : navigateToPath(item.routerLink)
          "
        >
          <span
            *ngIf="item.icon"
            class="{{ item.icon + ' ' + (isMenuExpanded ? 'mr-2' : '') }}"
          ></span>
          <span
            class="font-bold"
            *ngIf="isMenuExpanded || viewportService.screenWidth === 'xs'"
            >{{ item.label }}</span
          >
          <span
            class="font-bold menu-collapsed-text"
            *ngIf="
              !isMenuExpanded &&
              viewportService.screenWidth !== 'xs' &&
              !item.icon
            "
            >{{ item.label[0] }}</span
          >
          <i
            *ngIf="
              !!item.items &&
              item.items.length > 0 &&
              (isMenuExpanded || viewportService.screenWidth === 'xs')
            "
            class="pi ml-auto"
            [ngClass]="item.collapsed ? 'pi-angle-down' : 'pi-angle-up'"
          ></i>
        </div>
      </ng-template>
      <ng-template pTemplate="item" let-item>
        <div *ngIf="!!item && !isParentCollapsed(item)">
          <a
            pRipple
            class="flex align-items-center p-menuitem-link"
            [routerLink]="item.routerLink"
            [queryParams]="item.queryParams"
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="handleMenuItemClick($event, item)"
          >
            <span [class]="item.icon"></span>
            <span
              class="ml-2"
              *ngIf="isMenuExpanded || viewportService.screenWidth === 'xs'"
              >{{ item.label }}</span
            >
          </a>
        </div>
      </ng-template>
    </p-menu>
  </div>

  <div
    class="layout-content"
    [style.width]="getResponsiveWidth(isMenuExpanded)"
  >
    <router-outlet></router-outlet>
  </div>
</div>
