<div class="grid h-full" style="overflow: hidden">
  <div class="bar w-full mb-2" *ngIf="viewportService.screenWidth === 'xs'">
    <button
      class="p-button p-button-text p-button-icon-only"
      (click)="toggleMenu()"
    >
      <i class="pi pi-bars"></i>
    </button>
  </div>

  <div
    class="col-2 py-0 pl-0 lateral-bar"
    [ngClass]="{
      'mobile-expanded': viewportService.screenWidth == 'xs' && isMenuVisible
    }"
    *ngIf="viewportService.screenWidth !== 'xs' || isMenuVisible"
  >
    <p-menu
      [model]="items"
      styleClass="w-full h-full"
      *ngIf="authService.currentUser$ | async as user"
    >
      <ng-template pTemplate="start">
        <div class="image-container py-3">
          <img src="white_logo.png" alt="Logo" style="max-width: 160px" />
        </div>
        <div
          (click)="editProfile()"
          class="perfil p-2 flex align-items-center justify-content-start w-full gap-2 pointer"
        >
          <div class="avatar-container mt-0">
            @if (!user.avatarUrl) {
            <i class="pi pi-user"></i>
            } @else {
            <img
              [src]="user.avatarUrl"
              alt="Avatar"
              class="avatar-preview"
              style="max-width: 32px; max-height: 32px"
            />
            }
          </div>

          <span class="descripcion">
            {{ user.nombre + " " + user.apellidos }}
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="submenuheader" let-item>
        <div
          class="menu-header"
          (click)="
            !!item.items && item.items.length > 0
              ? toggleCollapse(item)
              : navigateToPath(item.routerLink)
          "
        >
          <span *ngIf="item.icon" [class]="item.icon" class="mr-2"></span>
          <span class="font-bold">{{ item.label }}</span>
          <i
            *ngIf="!!item.items && item.items.length > 0"
            class="pi ml-auto"
            [ngClass]="item.collapsed ? 'pi-angle-down' : 'pi-angle-up'"
          ></i>
        </div>
      </ng-template>
      <ng-template pTemplate="item" let-item>
        <div *ngIf="!!item && !isParentCollapsed(item)">
          @if(item.command) {
          <a
            pRipple
            class="flex align-items-center p-menuitem-link"
            (click)="isMenuVisible = false;item.command?.()"
          >
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
          } @else {
          <a
            pRipple
            class="flex align-items-center p-menuitem-link"
            [routerLink]="item.routerLink"
            [queryParams]="item.queryParams"
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
          }
        </div>
      </ng-template>
    </p-menu>
  </div>

  <div
    class="layout-content col-{{
      viewportService.screenWidth === 'xs' || isMenuVisible ? 12 : 10
    }} "
  >
    <router-outlet></router-outlet>
  </div>
</div>
