<div class="wrapper" [ngClass]="{ 'injected-wrapper': mode === 'injected' }">
  <div class="grid">
    <p-card class="col-12">
      <div class="card-login py-4">
        <div
          class="form-login"
          [ngClass]="{ 'injected-form-login': mode === 'injected' }"
          [formGroup]="formGroup"
        >
          <div class="imagen">
            <img src="black_logo.png" alt="Logo" />
          </div>

          <!-- Campo de email -->
          <p-floatLabel>
            <input
              type="email"
              pInputText
              formControlName="email"
              class="w-full"
            />
            <label for="email">Email</label>
          </p-floatLabel>
          <!-- Error: formato de email inválido -->
          <div
            *ngIf="
              formGroup.get('email')?.hasError('email') &&
              formGroup.get('email')?.touched
            "
            class="error-message"
          >
            <small class="p-error">El formato del email no es válido.</small>
          </div>
          <!-- Error: email requerido -->
          <div
            *ngIf="
              formGroup.get('email')?.hasError('required') &&
              formGroup.get('email')?.touched
            "
            class="error-message"
          >
            <small class="p-error">El email es requerido.</small>
          </div>

          <app-password-input
            formControlName="contrasenya"
          ></app-password-input>
          <!-- Error: contraseña requerida -->
          <div
            *ngIf="
              formGroup.get('contrasenya')?.hasError('required') &&
              formGroup.get('contrasenya')?.touched
            "
            class="error-message"
          >
            <small class="p-error">La contraseña es requerida.</small>
          </div>

          <!-- Botón de acceso -->
          <app-async-button
            class="w-full"
            label="Acceder"
            [action]="login.bind(this)"
            [disabled]="formGroup.invalid"
            styleClass="p-button dark-button p-button-raised w-full"
          ></app-async-button>

          <!-- Enlace a registro -->
          <!-- <a
            [routerLink]="['/auth/registro']"
            routerLinkActive="router-link-active"
            class="link-text"
            *ngIf="mode !== 'injected'"
          >
            <span>Crear cuenta</span> <i class="pi pi-angle-right mt-1"></i>
          </a> -->
          <a
            [routerLink]="['/auth/recuperar-contrasenya']"
            class="link-text"
            *ngIf="mode !== 'injected'"
          >
            <span>Recuperar contraseña</span>
          </a>
        </div>
      </div>
    </p-card>
  </div>
</div>
