<p-confirmDialog></p-confirmDialog>
<div class="grid" [formGroup]="formGroup">
  <div class="col-12 content">
    <p-card>
      <div class="grid">
        <div class="col-12 md:col-4">
          <p-dropdown
            class="w-full"
            [style]="{ width: '100%' }"
            [options]="preguntas"
            [filter]="true"
            filterBy="label"
            formControlName="numPreguntas"
            optionLabel="label"
            optionValue="code"
            placeholder="Número de preguntas"
          ></p-dropdown>
        </div>
        <div class="col-12 md:col-4">
          <p-multiSelect
            class="w-full"
            [style]="{ width: '100%', height: '100%' }"
            [options]="getAllDifficultades"
            formControlName="dificultad"
            optionLabel="label"
            optionValue="value"
            placeholder="Selecciona dificultades"
            [showHeader]="false"
            [defaultLabel]="'Selecciona una dificultad'"
          >
            <ng-template let-item pTemplate="selectedItem">
              <div class="flex align-items-center gap-2 h-full">
                @if (item.icon) {
                <i class="pi {{ item.icon }}"></i>
                } @else {
                <i class="pi pi-{{ star }}" *ngFor="let star of item.stars"></i>
                }
                <div class="hidden md:block">{{ item.label }}</div>
              </div>
            </ng-template>
            <ng-template let-item let-index pTemplate="item">
              <div class="flex align-items-center gap-2 h-full">
                @if (item.icon) {
                <i class="pi {{ item.icon }}"></i>
                } @else {
                <i class="pi pi-{{ star }}" *ngFor="let star of item.stars"></i>
                }
                <div class="hidden md:block">{{ item.label }}</div>
              </div>
            </ng-template>
          </p-multiSelect>
        </div>
        <div class="col-12 md:col-4">
          <app-tema-select
            [formControl]="formGroup.controls.temas"
          ></app-tema-select>
        </div>
      </div>

      <div
        class="flex align-items-center justify-content-end w-full gap-2 flex-wrap mt-3"
      >
        <ng-container *ngIf="!!(getFallosCount$ | async)">
          <label for="switch1">Generar test Mal / Repasar</label>
          <p-inputSwitch
            [formControl]="formGroup.controls.generarTestDeRepaso"
          ></p-inputSwitch>
        </ng-container>

        <button
          pButton
          type="submit"
          [disabled]="
            formGroup.invalid && !formGroup.get('generarTestDeRepaso')?.value
          "
          class="p-button dark-button p-button-raised"
          (click)="generarTest()"
          [loading]="generandoTest"
        >
          <span class="w-full">Generar test</span>
        </button>
      </div>
      <div
        class="grid"
        *ngIf="getAllTestsComenzados$ | async as testsComenzados"
      >
        <div
          class="col-12 md:col-6"
          *ngFor="let testComenzado of testsComenzados"
        >
          <p-card>
            <div class="info">
              <div class="flex gap-2 info-card">
                <div class="icon">
                  <i class="pi pi-info-circle"></i>
                </div>
                <div class="content">
                  <div class="title">
                    <h4 class="my-0">
                      Tienes un test pendiente
                      {{
                        !!testComenzado.duration && !!testComenzado.endsAt
                          ? " de tipo examen"
                          : ""
                      }}
                    </h4>
                  </div>
                  <div class="body">
                    Has comenzado un test el día
                    <strong>{{
                      testComenzado.createdAt | date : "shortDate"
                    }}</strong>

                    con {{ testComenzado.flashcardsPendientes }} respuestas de
                    {{ testComenzado.flashcardsCount }} preguntas respondidas.
                    Termínalo ahora haciendo clic en el botón de "Continuar"
                  </div>
                </div>
              </div>
              <br />
              <div class="flex w-full justify-content-end">
                <p-button
                  label="Abortar"
                  [link]="true"
                  (click)="eliminarTest(testComenzado.id, $event)"
                ></p-button>
                <a
                  [routerLink]="[
                    '/app/test/alumno/realizar-flash-cards-test/' +
                      testComenzado.id
                  ]"
                  class="link-text flex align-items-center p-button p-button-raised"
                  style="text-decoration: none"
                >
                  <span>Continuar</span>
                </a>
              </div>
            </div>
          </p-card>
        </div>
      </div>
    </p-card>
  </div>
</div>
