<div class="wrapper">
  <div class="grid">
    <p-card class="col-12 md:col-6 lg:col-3">
      <div class="card-login py-4">
        <div class="form-login" [formGroup]="formGroup">
          <div class="imagen">
            <img src="black_logo.png" alt="Logo" />
          </div>
          <p class="text-center">
            Ingresa tu nueva contraseña para restablecerla.
          </p>

          <!-- Campo de nueva contraseña -->
          <app-password-input
            formControlName="newPassword"
            [label]="'Nueva Contraseña'"
          ></app-password-input>

          <!-- Error: contraseña requerida -->
          <div
            *ngIf="
              formGroup.get('newPassword')?.hasError('required') &&
              formGroup.get('newPassword')?.touched
            "
            class="error-message"
          >
            <small class="p-error">La nueva contraseña es requerida.</small>
          </div>

          <!-- Botón de restablecimiento -->
          <button
            pButton
            type="submit"
            [disabled]="formGroup.invalid"
            class="p-button dark-button p-button-raised w-full"
            (click)="resetPassword()"
          >
            <span class="w-full">Restablecer Contraseña</span>
          </button>

          <!-- Enlace de retorno al login -->
          <a [routerLink]="['/auth/login']" class="link-text mt-3">
            <i class="pi pi-angle-left mt-1"></i>
            <span>Volver al inicio de sesión</span>
          </a>
        </div>
      </div>
    </p-card>
  </div>
</div>
