<p-dialog
  *ngIf="mode == 'default'"
  header="Visualizador de fallos"
  [modal]="true"
  [(visible)]="displayPopupFallosTest"
  [breakpoints]="{ '1199px': '85vw', '575px': '90vw' }"
  [style]="{ width: '75vw', height: '100%' }"
  [draggable]="false"
  [resizable]="false"
  data-testid="popup-fallos-dialog"
>
  <app-popup-fallos-test
    style="width: 100%; height: 100%; display: block"
    class="py-2"
    data-testid="popup-fallos-content"
  ></app-popup-fallos-test>
</p-dialog>

<p-confirmDialog data-testid="confirmacion-dialog"></p-confirmDialog>
<div class="grid" [formGroup]="formGroup" data-testid="realizar-test-container">
  <div class="col-12 content">
    <p-card data-testid="configuracion-test-card">
      <div class="grid">
        <div class="col-12 md:col-4">
          <p-dropdown
            appendTo="body"
            class="w-full"
            [style]="{ width: '100%' }"
            [options]="preguntas"
            [filter]="true"
            filterBy="label"
            formControlName="numPreguntas"
            optionLabel="label"
            optionValue="code"
            placeholder="Número de preguntas"
            data-testid="num-preguntas-dropdown"
          ></p-dropdown>
        </div>
        <div class="col-12 md:col-4">
          <p-multiSelect
            class="w-full"
            appendTo="body"
            [style]="{ width: '100%', height: '100%' }"
            [options]="getAllDifficultades"
            formControlName="dificultad"
            optionLabel="label"
            optionValue="value"
            placeholder="Selecciona un tipo"
            [showHeader]="false"
            [defaultLabel]="'Selecciona un tipo'"
            data-testid="dificultad-multiselect"
          >
            <ng-template let-item pTemplate="selectedItem">
              <div class="flex align-items-center gap-2 h-full">
                @if (item.icon) {
                <i class="pi {{ item.icon }}"></i>
                }
                <div class="hidden md:block">{{ item.label }}</div>
              </div>
            </ng-template>
            <ng-template let-item let-index pTemplate="item">
              <div class="flex align-items-center gap-2 h-full">
                @if (item.icon) {
                <i class="pi {{ item.icon }}"></i>
                }
                <div class="hidden md:block">{{ item.label }}</div>
              </div>
            </ng-template>
          </p-multiSelect>
        </div>
        <div class="col-12 md:col-4">
          <app-tema-select
            [formControl]="formGroup.controls.temas"
            data-testid="temas-select"
          ></app-tema-select>
        </div>
      </div>

      <div
        class="flex align-items-center justify-content-end w-full gap-2 flex-wrap mt-3"
        *ngIf="mode == 'default'"
        data-testid="opciones-test-container"
      >
        <p-floatLabel *ngIf="formGroup.value.generarTestDeExamen">
          <input
            pInputText
            id="tiempoLimiteEnMinutos"
            type="number"
            placeholder="Minutos"
            aria-describedby="tiempoLimiteEnMinutos-help"
            [formControl]="formGroup.controls.tiempoLimiteEnMinutos"
            data-testid="tiempo-limite-input"
          />
          <label for="tiempoLimiteEnMinutos">Tiempo límite</label>
        </p-floatLabel>
        <label for="switch1">Generar test de examen</label>
        <p-inputSwitch
          [formControl]="formGroup.controls.generarTestDeExamen"
          data-testid="test-examen-switch"
        ></p-inputSwitch>

        <ng-container *ngIf="!!(getFallosCount$ | async)">
          <label for="switch1">Generar test de repaso</label>
          <p-inputSwitch
            [formControl]="formGroup.controls.generarTestDeRepaso"
            data-testid="test-repaso-switch"
          ></p-inputSwitch>

          <button
            pButton
            (click)="displayPopupFallosTest = true"
            type="submit"
            class="p-button dark-button p-button-raised"
            data-testid="ver-fallos-btn"
          >
            <span class="w-full">Ver fallos</span>
          </button>
        </ng-container>

        <i 
          class="pi pi-info-circle text-primary cursor-pointer ml-2"
          pTooltip="Las preguntas se seleccionan aleatoriamente de los temas y dificultades elegidos."
          tooltipPosition="top"
        ></i>

        <button
          pButton
          type="submit"
          [disabled]="
            formGroup.invalid && !formGroup.get('generarTestDeRepaso')?.value
          "
          class="p-button p-button-raised"
          (click)="
            confirmGenerarTest($event, !!formGroup.value.generarTestDeExamen)
          "
          [loading]="generandoTest"
          data-testid="generar-test-btn"
        >
          <span class="w-full">Generar test</span>
        </button>
      </div>
      @if (mode == 'default') {
      <div
        class="grid"
        *ngIf="getAllTestsComenzados$ | async as testsComenzados"
        data-testid="tests-pendientes-container"
      >
        <div
          class="col-12 md:col-6"
          *ngFor="let testComenzado of testsComenzados"
          data-testid="test-pendiente"
          [attr.data-test-id]="testComenzado.id"
        >
          <p-card data-testid="test-pendiente-card">
            <div class="info">
              <div class="flex gap-2 info-card">
                <div class="icon">
                  <i class="pi pi-info-circle"></i>
                </div>
                <div class="content">
                  <div class="title">
                    <h4 class="my-0" data-testid="test-pendiente-titulo">
                      Tienes un test pendiente
                      {{
                        !!testComenzado.duration && !!testComenzado.endsAt
                          ? " de tipo examen"
                          : ""
                      }}
                    </h4>
                  </div>
                  <div class="body" data-testid="test-pendiente-info">
                    Has comenzado un test el día
                    <strong>{{
                      testComenzado.createdAt | date : "shortDate"
                    }}</strong>

                    <strong
                      *ngIf="!!testComenzado.duration && !!testComenzado.endsAt"
                      data-testid="tiempo-restante-examen"
                      >. Y te quedan
                      {{ testComenzado.endsAt | countdown }} minutos para
                      terminarlo</strong
                    >

                    con {{ testComenzado.respuestasCount }} respuestas de
                    {{ testComenzado.testPreguntasCount }} preguntas
                    respondidas. Termínalo ahora haciendo clic en el botón de
                    "Continuar"
                  </div>
                </div>
              </div>
              <br />
              <div class="flex w-full justify-content-end">
                <p-button
                  label="Abortar"
                  [link]="true"
                  (click)="eliminarTest(testComenzado.id, $event)"
                  data-testid="abortar-test-btn"
                ></p-button>
                <a
                  [routerLink]="[
                    '/app/test/alumno/realizar-test/' + testComenzado.id
                  ]"
                  class="link-text flex align-items-center p-button p-button-raised"
                  style="text-decoration: none"
                  data-testid="continuar-test-btn"
                >
                  <span>Continuar</span>
                </a>
              </div>
            </div>
          </p-card>
        </div>
      </div>
      }
    </p-card>
  </div>
</div>
