@import "primeng/resources/primeng.css";
@import "./theme-firemd/theme.scss";
@import "primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "ngx-toastr/toastr";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
.dark-button {
  background-color: $primaryDarkColor;
  border-color: $primaryDarkColor;
  color: $primaryTextColor;
}

body,
html {
  height: 100%;
}

input,
button,
textarea,
.p-dropdown {
  border-radius: 10px;
}

p-calendar {
  > span {
    width: 100%;
  }
}

button:disabled {
  opacity: 0.8;
}

app-layout {
  .p-menu {
    background-color: $primaryColor;
    color: white;
    overflow: auto;
  }
  .p-menuitem {
    span {
      color: white;
    }
    &:hover {
      span {
        color: darken($color: $primaryColor, $amount: 20);
      }
    }
  }
  .p-focus {
    .p-menuitem-content {
      background-color: lighten($color: $primaryDarkColor, $amount: 30);
    }
  }
  .router-link-active {
    background-color: lighten($color: $primaryColor, $amount: 30);
  }
  .p-submenu-header {
    background-color: darken($color: $primaryColor, $amount: 20);
    color: white;
  }
}

.item-container {
  background-color: #f5f5f5; /* Fondo grisáceo sutil */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  margin-bottom: 15px; /* Separación entre elementos */
  padding: 10px; /* Espaciado interno del elemento */
  border-radius: 5px; /* Bordes ligeramente redondeados */
}

.list-generic {
  overflow: auto;
  @media (max-width: 768px) {
    max-height: 77vh;
  }
}
app-preguntas-dashboard-admin-detailview {
  @media (max-width: 768px) {
    .p-card-body {
      max-height: 77vh;
      overflow: auto;
    }
  }
}

.pointer {
  cursor: pointer;
}

.comunidad-picker-listbox {
  .p-listbox {
    border: 0px;
  }
}
.respuestas-list {
  .p-inputgroup-addon {
    background-color: transparent;
    border: 0px;
  }
}

.respuesta-correcta {
  transition: 0.5s;
  background-color: #00eb003d;
}
.respuesta-incorrecta {
  transition: 0.5s;
  background-color: #ff9c9c;
}

.top-action-bar {
  display: flex;
  justify-content: space-between;
}

.descripcion {
  text-wrap: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.event-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @extend .descripcion;
}

.left-side {
  @media (max-width: 768px) {
    strong {
      text-overflow: ellipsis;
      overflow: hidden;
      text-wrap: nowrap;
    }
    strong.identifier {
      max-width: 100px;
    }
  }
}

.seguridad-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  i {
    font-size: 22px;
  }
}

app-pie-chart-dashboard-security {
  width: 100%;
}

app-test-stats,
app-dashboard-stats,
app-realizar-test,
app-realizar-flash-card-test,
app-completar-flash-card-test,
app-flashcard-detailview-admin,
app-ajustes-admin,
app-pie-chart-dashboard-security,
app-completar-test,
app-preguntas-dashboard-admin-detailview,
app-bloques-edit,
app-user-dashboard,
app-full-stats {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  display: block;
}

.img-flag {
  width: 30px;
  @media (max-width: 768px) {
    width: 20px;
  }
}

.no-wrap {
  text-wrap: nowrap;
}

.data-box {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  .box {
    height: 20px;
    width: 20px;
  }
}

p-selectbutton {
  > div {
    display: flex;
  }
}

p-orderlist .p-orderlist-list .p-orderlist-item.p-highlight div button {
  color: #ffffff;
}

app-plantilla-semanal-edit,
app-planificacion-mensual-edit {
  display: block;
  height: 100%;
  overflow-y: auto;
}

p-chip {
  > div {
    height: 18px;
  }
}
.verified {
  > div {
    background-color: palegreen;
  }
}
.nonverified {
  > div {
    background-color: palegoldenrod;
  }
}
.admin {
  > div {
    background-color: var(--primary-color);
    color: white;
  }
}
.tutor-tag {
  > div {
    background-color: var(--secondary-color);
    color: white;
  }
}
.p-chip-text {
  font-size: 12px;
}
