@import "primeng/resources/primeng.css";
@import "./theme-firemd/theme.scss";
@import "primeicons/primeicons.css";

.dark-button {
  background-color: $primaryDarkColor;
  border-color: $primaryDarkColor;
  color: $primaryTextColor;
}
