@import "primeng/resources/primeng.css";
@import "./theme-firemd/theme.scss";
@import "primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "ngx-toastr/toastr";
.dark-button {
  background-color: $primaryDarkColor;
  border-color: $primaryDarkColor;
  color: $primaryTextColor;
}

body,
html {
  height: 100%;
}

input,
button {
  border-radius: 10px;
}

button:disabled {
  opacity: 0.8;
}

app-layout {
  .p-menu {
    background-color: $primaryDarkColor;
    color: white;
  }
  .p-menuitem {
    span {
      color: white;
    }
    &:hover {
      span {
        color: $primaryDarkColor;
      }
    }
  }
  .p-focus {
    .p-menuitem-content {
      background-color: lighten($color: $primaryDarkColor, $amount: 30);
    }
  }
  .router-link-active {
    background-color: lighten($color: $primaryDarkColor, $amount: 30);
  }
  .p-submenu-header {
    background-color: $primaryDarkColor;
  }
}
