<p-overlayPanel #op>
  <div class="flex flex-column gap-3">
    <p-listbox
      [options]="listboxOptions"
      optionLabel="label"
      dataKey="code"
      [className]="'oposicion-picker-listbox'"
      [listStyle]="{ 'max-height': '250px' }"
      [style]="{ width: '18rem' }"
      [multiple]="multiple"
      [ngModel]="listboxValue"
      (onChange)="onSelectionChange($event.value)"
    >
      <ng-template let-item pTemplate="item">
        <div class="flex align-items-center gap-2">
          <img
            *ngIf="item.image"
            [src]="item.image"
            [alt]="item.label"
            class="oposicion-img-dropdown"
          />
          <span *ngIf="!item.image" class="text-lg">{{ item.icon }}</span>
          <span>{{ item.label }}</span>
        </div>
      </ng-template>
    </p-listbox>
  </div>
</p-overlayPanel>

<div class="contenedor-oposiciones">
  <div class="list flex align-items-center gap-1">
    @if (displayItems.length === 0) {
      <span class="text-sm text-600">Sin oposiciones</span>
    }
    @for (item of displayItems; track item.code) {
      <span
        class="oposicion-badge"
        [class.oposicion-badge--grupo]="!!item.members"
        [pTooltip]="item.label"
        tooltipPosition="top"
      >
        <img
          *ngIf="item.image"
          [src]="item.image"
          [alt]="item.label"
          class="oposicion-img"
        />
        <span *ngIf="!item.image">{{ item.icon }}</span>
      </span>
    }
  </div>

  <p-button
    [link]="true"
    *ngIf="allowAdd"
    (onClick)="op.toggle($event)"
    icon="pi pi-plus-circle"
    pTooltip="Asignar oposiciones"
    tooltipPosition="top"
  />
</div>
